<div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="sets: true">
  <ul class="uk-slider-items award-slider">
    <li>
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <%=image_tag('logo-pups.png', class: 'img-responsive img1', alt: '') %>
        </div>
        <div class="uk-card-body">
          <%=image_tag('logo-pups.png', class: 'img-responsive img1', alt: '') %>
          <!-- <p>Nation’s Fastest-growing Pet Chains <br><span>Pet Insight Magazine</span></p> -->
        </div>
      </div>
    </li>

    <li>
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <%=image_tag('logo-pups.png', class: 'img-responsive img1', alt: '') %>
        </div>
        <div class="uk-card-body">
          <p>Central Florida's Top Privately Held Companies<br><span>Orlando Business Journal</span></p>
        </div>
      </div>
    </li>

    <li>
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <%=image_tag('logo-pups.png', class: 'img-responsive img1', alt: '') %>
        </div>
        <div class="uk-card-body">
          <p>Central Florida’s Fastest Growing Companies<br><span>Orlando Business Journal</span></p>
        </div>
      </div>
    </li>

    <li>
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <%=image_tag('logo-pups.png', class: 'img-responsive img1', alt: '') %>
        </div>
        <div class="uk-card-body">
          <p>Top 10 Largest Retailers <br><span>Pet Business Media</span></p>
        </div>
      </div>
    </li>

    <li>
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <%=image_tag('logo-pups.png', class: 'img-responsive img1', alt: '') %>
        </div>
        <div class="uk-card-body">
          <p>Best Overall Multi-Unit Retailer<br><span>Pet Business Media</span></p>
        </div>
      </div>
    </li>

    <li>
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <%=image_tag('logo-pups.png', class: 'img-responsive img1', alt: '') %>
        </div>
        <div class="uk-card-body">
          <p>Retailer of the Year Franchise Award <br><span>Pet Product News</span></p>
        </div>
      </div>
    </li>


    <li>
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <%=image_tag('logo-pups.png', class: 'img-responsive img1', alt: '') %>
        </div>
        <div class="uk-card-body">
          <p>Multi-Service Excellence Award<br><span>Pet Business Media</span></p>
        </div>
      </div>
    </li>

    <li>
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <%=image_tag('logo-pups.png', class: 'img-responsive img1', alt: '') %>
        </div>
        <div class="uk-card-body">
          <p>Best Groomer <br><span>Orlando Magazine</span></p>
        </div>
      </div>
    </li>

    <li>
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <%=image_tag('logo-pups.png', class: 'img-responsive img1', alt: '') %>
        </div>
        <div class="uk-card-body">
          <p>Best Groomer <br><span>Raleigh Magazine</span></p>
        </div>
      </div>
    </li>
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>
