<% @page_title = "About Us" %>
<% @page_description = "New Description" %>

<div class="pup-header inline">
	<div class="inside med">
		<div class="full">
			<div class="tbox">
				<h1>About Woof Gang Bakery</h1>
				<h2>Your Neighborhood Pet Store</h2>
			</div>
		</div>
	</div>
</div>




<div class="as1">
	<div class="inside med2">
		<div class="as1-intro">
			<p>
				Woof Gang Bakery is the leading specialty retailer of pet food, pet supplies, and professional pet grooming in North America.
				With more than 100 locations across the U.S., we offer the very best in pet care by providing quality products and grooming, with a service-oriented approach.
			</p>
		</div>

		<div class="full content">
			<div class="left images">
				<%= image_tag('woof9.jpg', class: 'img-responsive img1', alt: '') %>

				<div class="snip">
					<p>Woof Gang Bakery knows that pets are a part of our families -- our faithful companions that bring us great joy. That's why we are so committed to their well-being, health, and happiness.</p>
				</div>
			</div>

			<div class="right">
				<%= image_tag('woof6.jpg', class: 'img-responsive img2', alt: '') %>
			</div>
		</div>

	</div>
</div>


<div class="acc-story">
	<div class="inside">
		<div class="os-text one">
			<h3>Our Story</h3>
			<p>Woof Gang Bakery began in 2007 in Jupiter, Florida. From humble roots, it has grown from a single location, to a multi-state franchise with national expansion opportunities. The simple combination of outstanding service, quality products, a great management team and our franchisees has given Woof Gang Bakery the right recipe for success.</p>

			<p>Our approach to franchising is very simple. <b>Successful franchising is totally built upon successful franchisees. </b>
				We award franchise agreements, and accept locations based on quality not quantity. Not all applicants, but the right applicants. Not all sites, but the right sites.
				Our leadership philosophy is based upon the belief that we should direct, not dominate the franchise system, and that our Franchisees should have a voice and participate in that direction.
			</p>
			<!-- timeline below? -->
		</div>

		<div class="acc-text">
				<div class="as2-box one">
					<div class="text">
						<p>In 2018, Woof Gang Bakery was designated one of the <b>top 10 largest retailers</b> by Pet Business Media.</p>
					</div>
					<div class="img-box"><%= image_tag('frenchie.png', class: 'img-responsive sb-img') %></div>
				</div>

				<div class="as2-box two">
					<div class="text">
						<p>Pet Business Media also named us <b>best overall, multi-unit retailer</b>, and awarded us the <b>Multi-Service Excellence Award</b></p>
						<!-- <p>We were named <b>best overall multi-unit retailer</b>, and received the <b>Multi-Service Excellence Award</b> from Pet Business Media.</p> -->
					</div>
					<div class="img-box"><%= image_tag('dane.png', class: 'img-responsive sb-img') %></div>
				</div>

				<div class="clearfix"></div>
				<!-- <div class="as2-box three">
					<div class="text">
						<p>The company received the <b>Retailer of the Year Franchise Award</b> from Pet Product News, and was recognized by Pet Insight magazine as <b>one of the nation’s fastest-growing pet chains.</b></p>
					</div>
					<div class="img-box"><%= image_tag('brindle.png', class: 'img-responsive sb-img') %></div>
				</div> -->

				<div class="as2-box three">
					<div class="text">
						<p>The company received the <b>Retailer of the Year Franchise Award</b> from Pet Product News.</p>
					</div>
					<div class="img-box"><%= image_tag('brindle.png', class: 'img-responsive sb-img') %></div>
				</div>

				<div class="as2-box four">
					<div class="text">
						<p>We were also recognized by Pet Insight magazine as <b>one of the nation’s fastest-growing pet chains.</b></p>
					</div>
					<div class="img-box"><%= image_tag('bernie.png', class: 'img-responsive sb-img') %></div>
				</div>

			</div>
		</div>
	</div>
</div>










<!-- <div class="dets">
	<div class="inside med2">
		<div class="full">
			<div class="il-text long">
				<p>Woof Gang Bakery is the leading specialty retailer of pet food, pet supplies, and professional pet grooming in North America.</p>

				<p>With more than 100 locations across the U.S., we offer the very best in pet care by providing quality products and grooming, with a service-oriented approach.</p>
				<p>Woof Gang Bakery knows that pets are a part of our families -- our faithful companions that bring us great joy. That's why we are so committed to their well-being, health, and happiness.</p>
			</div>
		</div>
	</div>
</div>
 -->
<!-- <div class="acc">
	<div class="acc-text one">
		<div class="inside">
			<p>In 2018, Woof Gang Bakery was designated one of the <b>top 10 largest retailers</b> by Pet Business Media.</p>
			<p>Woof Gang Bakery was also named <b>best overall multi-unit retailer</b>, and received the <b>Multi-Service Excellence Award</b> from Pet Business Media.</p>

			<p>The company received the <b>Retailer of the Year Franchise Award</b> from Pet Product News, and was recognized by Pet Insight magazine as <b>one of the nation’s fastest-growing pet chains.</b></p>
		</div>
	</div>
</div> -->

<!-- <div class="story">
	<div class="inside">
		<div class="os-text one">
			<h3>Our Story</h3>
			<p>Woof Gang Bakery began in 2007 in Jupiter, Florida. From humble roots, it has grown from a single location, to a multi-state franchise with national expansion opportunities. The simple combination of outstanding service, quality products, a great management team and our franchisees has given Woof Gang Bakery the right recipe for success.</p>

			<p>Our approach to franchising is very simple. <b>Successful franchising is totally built upon successful franchisees. </b>
				We award franchise agreements, and accept locations based on quality not quantity. Not all applicants, but the right applicants. Not all sites, but the right sites.
				Our leadership philosophy is based upon the belief that we should direct, not dominate the franchise system, and that our Franchisees should have a voice and participate in that direction.
			</p>
			timeline below?
		</div>
	</div>
</div> -->
