<% @page_title = "Day Care & Pet Resort" %>
<% @page_description = "New Description" %>


<div class="services-layout daycare">
	<div class="serv-slider inline-show">
		<div class="inside lg">
			<div class="il-slideshow" uk-slideshow="autoplay: true;max-height: 600; animation: push">
				<div>
				  <ul class="uk-slideshow-items">
						<li><%= image_tag('daycare1.jpg', class: 'img-responsive uk-cover', alt: '') %></li>
						<li><%= image_tag('daycare2.jpg', class: 'img-responsive uk-cover', alt: '') %></li>
						<li><%= image_tag('daycare3.jpg', class: 'img-responsive uk-cover', alt: '') %></li>
						<li><%= image_tag('daycare4.jpg', class: 'img-responsive uk-cover', alt: '') %></li>
						<li><%= image_tag('daycare5.jpg', class: 'img-responsive uk-cover', alt: '') %></li>
				  </ul>
			  </div>
			</div>


			<div class="title">
	  	  <%= image_tag('logo-resort.png', class: 'img-responsive srv-logo resort', alt: '')%>
	  	  <%= image_tag('logo-daycare.png', class: 'img-responsive srv-logo daycare', alt: '')%>
			</div>
		</div>
	</div>

	<div class="statement alt-lay">
		<div class="inside med2-def">
	  	<div class="text one">
	  		<h2>Woof Gang Doggie Day Care</h2>
				<p>Woof Gang Doggie Day Care offers a clean, safe and fun environment for monitored interaction with other dogs.</p>
			</div>

			<div class="text two">
		  	<h2>Woof Gang Pet Resort</h2>
				<p>Woof Gang Pet Resort is a boutique boarding facility that provides caring, convenient luxury dog boarding.</p>
		  </div>
	  </div>
	</div>

	<div class="locations-disc">
		<div class="inside med">
			<h4>Doggie Day Care and Pet Resort services are offered only at select locations.</h4>
			<div class="btn-hlf">
				<%= link_to "View Locations", "/tags/doggie-daycare", class: 'woof-link' %>
			</div>
		</div>
	</div>

</div>
