<% @page_title = "Day Care & Pet Resort" %>
<% @page_description = "New Description" %>


<div class="services-layout daycare">
	<div class="serv-slider inline-show">
		<div class="inside lg">
			<div class="il-slideshow" uk-slideshow="autoplay: true;max-height: 600; animation: push">
				<div>
				  <ul class="uk-slideshow-items">
						<li><%= image_tag('placehold.jpg', class: 'img-responsive uk-cover', alt: '') %></li>
						<li><%= image_tag('placehold.jpg', class: 'img-responsive uk-cover', alt: '') %></li>
				  </ul>
			    <!-- <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a> -->
			    <!-- <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a> -->
			  </div>
			  <!-- <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul> -->
			</div>


			<div class="title">
	  	  <%= image_tag('wgb-daycare.png', class: 'img-responsive srv-logo', alt: '')%>
	  	  <%= image_tag('wgb-walking.png', class: 'img-responsive srv-logo', alt: '')%>
			</div>
		</div>
	</div>

	<div class="statement">
		<div class="inside med3">
			<div class="full one">
		  	<div class="text">
		  		<h2>Woof Gang Doggie Day Care</h2>
					<p>Woof Gang Doggie Day Care offers a clean, safe and fun environment for monitored interaction with other dogs.</p>
				</div>
			</div>
			<div class="full"><br><hr></div>
			<div class="full two">
				<div class="text">
			  	<h2>Woof Gang Pet Resort</h2>
					<p>Woof Gang Pet Resort is a boutique boarding facility that provides caring, convenient luxury dog boarding.</p>
				</div>
		  </div>
	  </div>
	</div>

	<div class="statement alt-lay">
		<div class="inside med2-def">
	  	<div class="text one">
	  		<h2>Woof Gang Doggie Day Care</h2>
				<p>Woof Gang Doggie Day Care offers a clean, safe and fun environment for monitored interaction with other dogs.</p>
			</div>

			<div class="text two">
		  	<h2>Woof Gang Pet Resort</h2>
				<p>Woof Gang Pet Resort is a boutique boarding facility that provides caring, convenient luxury dog boarding.</p>
		  </div>
	  </div>
	</div>

	<div class="locations-disc">
		<div class="inside med">
			<h4>Doggie Day Care and Pet Resort services are offered only at select locations.</h4>
			<div class="btn-hlf">
				<%= link_to "View Locations", "/tags/doggie-daycare", class: 'woof-link' %>
			</div>
		</div>
	</div>
</div>
