<% @page_title = "Grooming" %>
<% @page_description = "New Description" %>

<div class="pup-header inline">
	<div class="inside med2">
		<div class="full">
			<div class="tbox">
				<h1>Woof Gang Grooming</h1>
				<h2>We believe that regular, thorough grooming is an essential element in every dog’s health and well-being.<br> <b>That's why we offer:</b></h2>
			</div>
		</div>
	</div>
</div>

<div class="top-box">
	<div class="inside med">
		<!-- <div class="intro">
			<h3>We believe that regular, thorough grooming is an essential element in every dog’s health and well-being. That's why we offer:</h3>
		</div> -->
		<div class="tb-box one">
			<div class="text">
				<h4>Luxurious TREATments</h4>
				<p>Our spa menu includes a great selection of healthy and luxurious treatments that will leave your dog or cat’s coat, skin, teeth, and nails will looking, smelling and feeling incredible.</p>
			</div>
			<div class="img-box"><%= image_tag('curlers.png', class: 'img-responsive sb-img') %></div>
		</div>

		<div class="tb-box two">
			<div class="text">
				<h4>Tail-Wagging Products</h4>
				<p>
					Our spa products will help soothe and restore even the "ruffest" coat to its natural beauty.
					We also offer a wide range of special products to accommodate your pet’s needs, including hypo-allergenic and medicated options.
				</p>
			</div>
			<div class="img-box"><%= image_tag('dane.png', class: 'img-responsive sb-img') %></div>
		</div>

		<div class="clearfix space"></div>
		<div class="tb-box three">
			<div class="img-box"><%= image_tag('brindle.png', class: 'img-responsive sb-img') %></div>
			<div class="text">
				<h4>Certified, Experienced Groomers</h4>
				<p>
					Woof Gang groomers are among the best in the industry. They always go out of their way to make your pet feel comfortable and safe.
					Our groomers treat your furry family members like their own, helping to keep them in optimal hygiene and looking fabulous.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="banner">
	<div class="inside">
		<div class="full">
			<div class="inside">
				<p>Contact your local store today to set up a grooming consultation, or stop by and meet with one of our groomers. We know you will see the difference.</p>

				<div class="link">
					<%= link_to "View Locations", locations_path, class: 'woof-link' %>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="layer-sec">
	<div class="inside med2">
		<div class="intro">
			<p>Prices vary for full grooms, and depend on your dog's size, breed, and condition. Additional services are available for an extra fee.</p>
		</div>

		<div class="full">
			<div class="left">
				<%= image_tag('woof14.jpg', class: 'img-responsive', alt: '')%>

				<div class="text">
					<p>Feel free to contact us for more information about how our dog spas can benefit both you and your dog.</p>
					<%= link_to "Contact Us", contact_path, class: 'woof-link two' %>
				</div>
			</div>

			<div class="right">
				<%= image_tag('woof13.jpg', class: 'img-responsive', alt: '')%>
			</div>
		</div>
	</div>
</div>





<!--
<div class="info-sec">
	<div class="inside">
		<div class="left">
			<div class="image">
				<%= image_tag('woof13.jpg', class: 'img-responsive', alt: '')%>
			</div>

			<div class="text">
				<div class="full btm">
					<p>Feel free to contact us for more information about how our dog spas can benefit both you and your dog.</p>
					<%= link_to "Contact Us", contact_path, class: 'woof-link two' %>
				</div>
			</div>
		</div>

		<div class="right">
			<%= image_tag('woof14.jpg', class: 'img-responsive', alt: '')%>
			<p>
				Prices vary for full grooms, and depend on your dog's size, breed, and condition.
				Additional services are available for an extra fee.
			</p>
	</div>
</div>

 -->
