<% @page_title = "Grooming" %>
<% @page_description = "New Description" %>

<div class="services-layout groom">
	<div class="serv-slider inline-show">
		<div class="inside lg">
			<div class="il-slideshow" uk-slideshow="autoplay: true;max-height: 600; animation: push">
				<div>
			    <ul class="uk-slideshow-items">
						<li><%= image_tag('grooming-slide1.jpg', class: 'img-responsive uk-cover') %></li>
						<li><%= image_tag('grooming-slide2.jpg', class: 'img-responsive uk-cover') %></li>
						<li><%= image_tag('grooming-slide3.jpg', class: 'img-responsive uk-cover') %></li>
						<li><%= image_tag('grooming-slide4.jpg', class: 'img-responsive uk-cover') %></li>
			    </ul>
			    <!-- <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a> -->
			    <!-- <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a> -->
			  </div>
			  <!-- <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul> -->
			</div>


			<div class="title">
	  	  <%= image_tag('wgb-groom.png', class: 'img-responsive srv-logo', alt: '')%>
			</div>
		</div>
	</div>

	<div class="statement">
		<div class="inside med2-def">
	  	<div class="text">
				<h1>Woof Gang Grooming<br class="xl"> is the ultimate retreat<br class="xl"> for the pampered pet</h1>
				<p>The Woof Gang Grooming spa atmosphere and experienced groomers provide a calm experience for pets to be groomed, indulged and revitalized. With our state-of-the-art grooming equipment and premium products we provide exceptional care to your pet in a safe and friendly environment. We have the skills and knowledge to handle any breed and any size dog.</p>
			</div>
		</div>
	</div>

	<div class="gallery-sec mason">
		<div class="inside med2" uk-lightbox>
			<div class="full top">
				<div class="left">
			    <a href="<%= image_url('grooming-gallery1.jpg') %>" data-alt="Image"><%= image_tag('grooming-gallery1.jpg', class: 'img-responsive gall-img') %></a>
				</div>

				<div class="right">
			    <a href="<%= image_url('grooming-gallery2.jpg') %>" data-alt="Image"><%= image_tag('grooming-gallery2.jpg', class: 'img-responsive gall-img hlf') %></a>
			    <a href="<%= image_url('grooming-gallery3.jpg') %>" data-alt="Image"><%= image_tag('grooming-gallery3.jpg', class: 'img-responsive gall-img hlf two') %></a>
				</div>
			</div>
		</div>
	</div>
</div>
