<% @page_title = "Grooming" %>
<% @page_description = "Woof Gang Grooming is the ultimate retreat for the pampered pet. Make an appointment for your furry family member today!" %>

<div class="services-layout groom">
	<div class="serv-slider inline-show">
		<div class="inside lg">
			<div class="il-slideshow uk-position-relative uk-visible-toggle uk-light" uk-slideshow="autoplay: true; max-height: 600; autoplay-interval: 4000; animation: push">
				<div>
			    <ul class="uk-slideshow-items">
						<li><%= image_tag('groom-slide1.jpg', class: 'img-responsive uk-cover', alt: 'Woof Gang Grooming, San Antonio store') %></li>
						<li><%= image_tag('groom-slide2.jpg', class: 'img-responsive uk-cover', alt: 'Woof Gang Grooming, Austin location') %></li>
						<li><%= image_tag('groom-slide3.jpg', class: 'img-responsive uk-cover', alt: 'Woof Gang Grooming, smiling pups') %></li>
						<li><%= image_tag('grooming-slide4.jpg', class: 'img-responsive uk-cover', alt: 'Woof Gang Grooming room') %></li>
			    </ul>
			    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a> 
			    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a> 
			  </div>
			</div>

			<div class="title">
	  	  <%= image_tag('plogo-grooming.png', class: 'img-responsive srv-logo', alt: 'Woof Gang Bakery, grooming logo')%>
			</div>
			<div class="seal"><div class="sicon"></div></div>
		</div>
	</div>

	<div class="statement">
		<div class="inside med2-def">
	  	<div class="text">
				<h1>We help your pet look and feel their best</h1>
				<p>Woof Gang Grooming is the ultimate retreat for the pampered pet, designed to provide a calm and luxurious experience in which your pets can be groomed, indulged and revitalized.</p>
				<p class="two">With our state-of-the-art grooming equipment and premium products, we provide exceptional care to your pet in a safe and friendly environment. We have the skills and knowledge to handle any breed and any size dog.</p>
			</div>
		</div>
	</div>

	<div class="gallery-sec mason">
		<div class="inside med2" uk-lightbox>
			<div class="full top">
				<div class="left">
					<a href="<%= image_url('grooming-gallery2.jpg') %>" data-alt="Excited dog after Woof Gang Grooming session">
					<%= image_tag('grooming-gallery2.jpg', class: 'img-responsive gall-img hlf', alt: 'Excited dog after Woof Gang Grooming session') %></a>
			    
			    <a href="<%= image_url('grooming-gallery9.jpg') %>" data-alt="Little corgi getting a bath">
			    <%= image_tag('grooming-gallery9.jpg', class: 'img-responsive gall-img hlf two', alt: 'Little corgi getting a bath') %></a>

			    <a href="<%= image_url('grooming-gallery7.jpg') %>" data-alt="Two golden retrievers wrapped in Woof Gang Grooming towels">
			    <%= image_tag('grooming-gallery7.jpg', class: 'img-responsive gall-img', alt: 'Two golden retrievers wrapped in Woof Gang Grooming towels') %></a>

			    <a href="<%= image_url('grooming-gallery10.jpg') %>" data-alt="Yorki in a Woof Gang Grooming store">
			    <%= image_tag('grooming-gallery10.jpg', class: 'img-responsive gall-img hlf', alt: 'Yorki in a Woof Gang Grooming store') %></a>
			    <a href="<%= image_url('grooming-gallery14.jpg') %>" data-alt="Puppy with a temporary mohawk on the grooming table">
			    <%= image_tag('grooming-gallery14.jpg', class: 'img-responsive gall-img hlf two', alt: 'Puppy with a temporary mohawk on the grooming table') %></a>
			    

			    <a href="<%= image_url('grooming-gallery12.jpg') %>" data-alt="Woof Gang Groomer with a fluffy dog before his haircut">
			    <%= image_tag('grooming-gallery12.jpg', class: 'img-responsive gall-img', alt: 'Woof Gang Groomer with a fluffy dog before his haircut') %></a>
			    
				</div>

				<div class="right">
			    <a href="<%= image_url('grooming-gallery13.jpg') %>" data-alt="Husky puppy on a Woof Gang grooming table">
			    <%= image_tag('grooming-gallery13.jpg', class: 'img-responsive gall-img', alt: 'Husky puppy on a Woof Gang grooming table') %></a>

			    <a href="<%= image_url('grooming-gallery3.jpg') %>" data-alt="Fluffy puppy on the Woof Gang Grooming table">
			    <%= image_tag('grooming-gallery3.jpg', class: 'img-responsive gall-img hlf two', alt: 'Fluffy puppy on the Woof Gang Grooming table') %></a>

			    <a href="<%= image_url('grooming-gallery5.jpg') %>" data-alt="Woof Gang Grooming puppy">
			    <%= image_tag('grooming-gallery5.jpg', class: 'img-responsive gall-img hlf', alt: 'Woof Gang Grooming puppy') %></a>
			    
			    <a href="<%= image_url('grooming-gallery11.jpg') %>" data-alt="Little dog with its owner after a Woof Gang spa day">
			    <%= image_tag('grooming-gallery11.jpg', class: 'img-responsive gall-img', alt: 'Little dog with its owner after a Woof Gang spa day') %></a>
				</div>
			</div>
		</div>
	</div>
</div>
