<% @page_title = "Your Neighborhood Pet Store" %>
<% @page_description = "New Description" %>

<div class="hs1-hero">
	<div class="inside">
		<div class="full">
			<!-- <%= image_tag('pets-2.jpg', class: 'img-fluid') %>  -->
			<%= image_tag('adobe-hands.png', class: 'img-responsive hero') %>

			<div class="text-over">
				<h1>Woof Gang Bakery &amp; Grooming</h1>
			</div>
		</div>
	</div>
</div>

<div class="hs-intro">
	<div class="inside med">
		<div class="left">
			<h3>Shouldn't every day be <br><b>"Bring Your Dog to Work Day?"</b></h3>
		</div>

		<div class="right">
			<p>
				Woof Gang Bakery was founded in 2007, and has since grown into a multi-state franchise with national expansion opportunities.
				With more than 100 locations across the U.S., we are the leading specialty retailer of pet food, pet supplies, and professional pet grooming in North America.
			</p>
			<p>Our commitment to providing outstanding service and quality products to the local community, combined with our great management team and passionate franchisees has given Woof Gang Bakery the right recipe for success.</p>
		</div>
	</div>
</div>

<div class="hs-franchise">

	<div class="inside med2">
		<div class="text">
			<h2>Join The Fluffiest, Friendliest Franchise</h2>
			<!-- <p class="span">Our approach to franchising is very simple:</p>
			<p>Successful franchising is totally built upon successful franchisees.
			Our leadership philosophy is based upon the belief that we should direct, not dominate the franchise system, and that our franchisees should have a voice and participate in that direction.</p> -->
		</div>

		<div class="blocks">
			<div class="fblock opp">
				<p>Franchise Opportunity</p>
			</div>

			<div class="fblock inq">
				<%= image_tag('hang.png', class: 'img-responsive') %>
				<p>Franchise Inquiries</p>
			</div>

			<div class="fblock invest">
				<%= image_tag('adobe-work2.png', class: 'img-responsive') %>
				<p>Investment Details</p>
			</div>

			<div class="fblock faq">
				<p>Franchise FAQ's</p>
			</div>
		</div>

		<div class="text2">
			<p class="span">Our approach to franchising is very simple:</p>
			<p>Successful franchising is totally built upon successful franchisees.
			Our leadership philosophy is based upon the belief that we should direct, not dominate the franchise system, and that our franchisees should have a voice and participate in that direction.</p>
		</div>
	</div>
</div>


<div class="hs4-locations">
	<div class="inside med2">
		<h4>Over 100 Locations Nationwide</h4>
		<div class="btn-hlf">
			<%= link_to "Find One Near You", locations_path, class: 'woof-link' %>
		</div>
	</div>
</div>


<!--
<div class="hs-services">
	<div class="inside med">
		<div class="intro">
			<h3>Woof Gang does it all</h3>
			<p>We offer a number of services to help keep your pets healthy and spoiled!
			 Contact your local Woof Gang Bakery to find out which services are available in your area.</p>
		</div>

		<div class="blocks">

			<div class="left">
				<div class="fblock groom"><p>Grooming</p></div>

				<div class="fblock ss"><p>Self-Service Grooming</p></div>

				<div class="fblock vet"><p>Veterinary Clinic</p></div>
				<div class="fblock daycare"><p>Doggie Daycare</p></div>
			</div>
		</div>

		<div class="right">
			<div class="fblock retail"><p>Retail</p></div>
		</div>
	</div>
</div>
 -->




<div class="hs-serve">
	<div class="intro">
		<h3>Woof Gang does it all</h3>
		<p>We offer a number of services to help keep your pets healthy and spoiled!
		 Contact your local Woof Gang Bakery to find out which services are available in your area.</p>
	</div>

	<div class="blocks">
		<div class="left">
			<div class="wgb-slides" uk-slider="autoplay: true">
		    <ul class="uk-slider-items">
					<li><%= image_tag('location-img.jpg', class: 'img-responsive') %></li>
					<li><%= image_tag('packaged-treats.jpg', class: 'img-responsive') %></li>
					<li><%= image_tag('trim.jpg', class: 'img-responsive') %></li>
					<li><%= image_tag('toy-sec.jpg', class: 'img-responsive') %></li>
					<li><%= image_tag('grooming.jpg', class: 'img-responsive') %></li>
					<li><%= image_tag('treat-sec.jpg', class: 'img-responsive') %></li>
					<li><%= image_tag('wilmington-exterior.jpg', class: 'img-responsive') %></li>
		    </ul>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center"></ul>
			</div>


			<!-- <div class="fblock one"><%= image_tag('location-img.jpg', class: 'img-responsive') %></div> -->
			<!-- <div class="fblock two"><%= image_tag('woof8.jpg', class: 'img-responsive') %></div> -->
			<!-- <div class="fblock three"><%= image_tag('trim.jpg', class: 'img-responsive') %></div> -->
		</div>

		<div class="right">
			<%= link_to grooming_path, class: 'serve-tl' do %>
				<!-- <%= image_tag('bath.jpg', class: 'sq-img') %>  -->
				<%= image_tag('tag-groom.png', class: 'img-responsive') %>
				<p>Grooming </p>
			<% end %>

			<%= link_to self_service_grooming_path, class: 'serve-tl' do %>
				<!-- <%= image_tag('self.jpg', class: 'sq-img') %>  -->
				<%= image_tag('tag-ss.png', class: 'img-responsive') %>
				<p>Self-Service Grooming </p>
			<% end %>

			<%= link_to retail_path, class: 'serve-tl' do %>
				<!-- <%= image_tag('packaged-treats.jpg', class: 'sq-img') %>  -->
				<%= image_tag('tag-retail.png', class: 'img-responsive') %>
				<p>Retail </p>
			<% end %>

			<%= link_to vet_clinic_path, class: 'serve-tl vet' do %>
				<!-- <%= image_tag('dog-stare.jpg', class: 'sq-img') %>  -->
				<%= image_tag('tag-vet.png', class: 'img-responsive') %>
				<p>Veterinary Clinic </p>
			<% end %>

			<%= link_to doggie_daycare_path, class: 'serve-tl' do %>
				<!-- <%= image_tag('princess.jpg', class: 'sq-img') %>  -->
				<%= image_tag('tag-daycare.png', class: 'img-responsive') %>
				<p>Doggie Daycare </p>
			<% end %>

		</div>
	</div>
</div>
