<% @page_title = "Retail" %>
<% @page_description = "New Description" %>




<div class="page-header">
	<div class="inside">
		<div class="tbox">
			<h1>Your Neighborhood Pet Store</h1>
			<h2>Woof Gang Bakery is committed to providing outstanding service and quality products to the local community.
			We are the leading specialty retailer of pet food, pet supplies and professional pet grooming in North America, with more than 100 locations across the U.S.</h2>
		</div>
		<%= image_tag('gourmetbakedtreats.png', class: 'img-responsive hd-img') %>
	</div>
</div>

<div class="services-list">
	<div class="inside med">
		<div class="serve-box">
			<div class="img-box"><%= image_tag('woof10.jpg', class: 'img-responsive sb-img') %></div>
			<div class="text">
				<p>
					Woof Gang Bakery is passionate about providing proper nutrition for your furry friends. We believe that the best nutrition comes from healthy, natural ingredients.
					We are the leader in raw, frozen diets, kibble, canned and dehydrated dog and cat food.
				</p>
				<!-- <%= image_tag('catdog.png', class: 'img-responsive sm-img') %>  -->
			</div>

		</div>

		<div class="serve-box">
			<div class="text">
				<p>
					Woof Gang Bakery also carries a variety of unique, fun, and fashionable doggie items, as well as pet food products.
					We have a huge selection of toys and accessories, and a wide range of doggie spa products.
					<!-- Brands, quantity and sizes vary by location, please contact your local Woof Gang Bakery for specifics -->
				</p>
			</div>

			<div class="img-box grid">
				<%= image_tag('toy-sec.jpg', class: 'img-responsive') %>
				<!-- <%= image_tag('woof11.jpg', class: 'img-responsive gimg top2') %>  -->
				<!-- <%= image_tag('collars.jpg', class: 'img-responsive gimg btm') %>  -->

				</div>
		</div>

	</div>
</div>
