<% @page_title = "Retail" %>
<% @page_description = "New Description" %>

<% @page_title = "Retail" %>
<% @page_description = "New Description" %>

<div class="services-layout retail">
	<div class="inside lg">
		<div class="serv-slider srv-slides" uk-slider="autoplay: true">
		  <ul class="uk-slider-items">
				<li><%= image_tag('retail9.jpg', class: 'img-responsive') %></li>
				<li><%= image_tag('retail7.jpg', class: 'img-responsive') %></li>
				<li><%= image_tag('retail13.jpg', class: 'img-responsive') %></li>
				<li><%= image_tag('retail9.jpg', class: 'img-responsive') %></li>
				<li><%= image_tag('retail7.jpg', class: 'img-responsive') %></li>
				<li><%= image_tag('retail13.jpg', class: 'img-responsive') %></li>
		  </ul>

		  <!-- <ul class="uk-slider-nav uk-dotnav uk-flex-center"></ul> -->
		</div>
	</div>

	<div class="statement text-center">
		<div class="inside alt">
	  	<div class="logo-bg"><%= image_tag('wg-logo1.png', class: 'img-responsive srv-logo', alt: '')%></div>
	  	<div class="text">
				<h1 class="pink">We help you find the best food to feed your pet</h1>
				<p>Woof Gang Bakery is the leader in raw, frozen diet, kibble, canned and dehydrated dog and cat foods.
				Our highly-rated pet food brands provide a nutritious meal without any preservatives or artificial chemicals.
				Nourish your pet with nutrient-rich food that promotes lifelong health.</p>
			</div>
		</div>
	</div>

	<div class="gallery-sec stagg">
		<div class="inside med">
			<div class="left">
				<%= image_tag('home-slide-treats.jpg', class: 'img-responsive gall-img') %>
				<%= image_tag('bowls.jpg', class: 'img-responsive gall-img') %>
			</div>

			<div class="right">
				<%= image_tag('bday-treats2.jpg', class: 'img-responsive gall-img') %>
				<%= image_tag('toy-sec.jpg', class: 'img-responsive gall-img') %>
			</div>
		</div>
	</div>
</div>


<!-- instructions -->
	<!-- At the top, add a photo rotator showing wide shots of different stores. Ideally six photos (but the quality of our selection will dictate), each that taken from a different perspective. -->
	<!-- The main Woof Gang Bakery logo needs a place -- each of the services page needs the distinct logo. design should be uniform across all Services. -->
	<!-- Below the rotator: Positioning statement: -->
	<!-- Below this, a small variety of excellent photos showing different product displays, including treats, private label, chews/bones, collars/leashes, other retail items. -->
