<% @page_title = "Retail" %>
<% @page_description = "New Description" %>

<% @page_title = "Retail" %>
<% @page_description = "New Description" %>

<div class="services-layout retail">
	<div class="serv-slider inline-show">
		<div class="inside lg">
			<div class="il-slideshow" uk-slideshow="autoplay: true;max-height: 600; animation: push">
				<div>
				  <ul class="uk-slideshow-items">
						<li><%= image_tag('retail9.jpg', class: 'img-responsive uk-cover', alt: '') %></li>
						<li><%= image_tag('retail7.jpg', class: 'img-responsive uk-cover', alt: '') %></li>
						<li><%= image_tag('retail13.jpg', class: 'img-responsive uk-cover', alt: '') %></li>
						<li><%= image_tag('retail9.jpg', class: 'img-responsive uk-cover', alt: '') %></li>
						<li><%= image_tag('retail7.jpg', class: 'img-responsive uk-cover', alt: '') %></li>
						<li><%= image_tag('retail13.jpg', class: 'img-responsive uk-cover', alt: '') %></li>
				  </ul>
			    <!-- <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a> -->
			    <!-- <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a> -->
			  </div>
			  <!-- <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul> -->
			</div>


			<div class="title">
	  	  <%= image_tag('wg-logo1.png', class: 'img-responsive srv-logo', alt: '')%>
			</div>
		</div>
	</div>

	<div class="statement">
		<div class="inside med2">
	  	<div class="text">
				<h1>We help you find<br class="xl-br"> the best food<br class="xl-br"> to feed your pet</h1>
				<p>Woof Gang Bakery is the leader in raw, frozen diet, kibble, canned and dehydrated dog and cat foods.
				Our highly-rated pet food brands provide a nutritious meal without any preservatives or artificial chemicals.
				Nourish your pet with nutrient-rich food that promotes lifelong health.</p>
			</div>
		</div>
	</div>

	<div class="gallery-sec mason">
		<div class="inside med2" uk-lightbox>
			<div class="full top">
				<div class="left">
			    <a href="assets/home-slide-treats.jpg" data-alt="Image"><%= image_tag('home-slide-treats.jpg', class: 'img-responsive gall-img') %></a>
			    <!-- <a href="assets/shelves.jpg" data-alt="Image"><%= image_tag('shelves.jpg', class: 'img-responsive gall-img') %></a> -->
				</div>

				<!-- hlf two -->

				<div class="right">
			    <a href="assets/bday-treats2.jpg" data-alt="Image"><%= image_tag('bday-treats2.jpg', class: 'img-responsive gall-img hlf') %></a>
			    <a href="assets/toy-sec.jpg" data-alt="Image"><%= image_tag('toy-sec.jpg', class: 'img-responsive gall-img hlf two') %></a>
			    <a href="assets/home-slide-treats.jpg" data-alt="Image"><%= image_tag('home-slide-treats.jpg', class: 'img-responsive gall-img') %></a>
				</div>
			</div>
		</div>
	</div>
</div>
