<% @page_title = "Retail" %>
<% @page_description = "Woof Gang Bakery is the leading specialty retailer of pet food, pet supplies and professional pet grooming in the U.S." %>

<% @page_title = "Retail" %>
<% @page_description = "New Description" %>

<div class="services-layout retail">
	<div class="serv-slider inline-show">
		<div class="inside lg">
			<div class="il-slideshow uk-position-relative uk-visible-toggle uk-light" uk-slideshow="autoplay: true;max-height: 600; autoplay-interval: 4000; animation: push">
				<div>
				  <ul class="uk-slideshow-items">
						<li><%= image_tag('retail-slideN1.jpg', class: 'img-responsive uk-cover', alt: 'Woof Gang Bakery, Woodlands store accessories') %></li>
						<li><%= image_tag('retail-slideN2.jpg', class: 'img-responsive uk-cover', alt: 'Woof Gang Bakery store, homemade treats table') %></li>
						<li><%= image_tag('retail-slide1.jpg', class: 'img-responsive uk-cover', alt: 'Woof Gang Bakery store interior') %></li>
						<li><%= image_tag('retail-slide4.jpg', class: 'img-responsive uk-cover', alt: 'Woof Gang Bakery dog treat section') %></li>
						<li><%= image_tag('food-ashville.jpg', class: 'img-responsive uk-cover', alt: 'Woof Gang Bakery, dog food close-up') %></li>
				  </ul>
				  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a> 
			    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a> 
			  </div>
			</div>

			<div class="title">
	  	  <%= image_tag('wg-logo1.png', class: 'img-responsive srv-logo', alt: 'Woof Gang Bakery logo')%>
			</div>
			<div class="seal"><div class="sicon"></div></div>
		</div>
	</div>

	<div class="statement">
		<div class="inside med2-def">
	  	<div class="text">
				<h1>We help you provide <br class="xl">the best for your pet</h1>
				<p>Woof Gang Bakery is the leader in raw, kibble, canned and dehydrated dog and cat foods. Our quality pet food brands are formulated to nourish your pet with nutrient-rich foods that promote lifelong health. The nutritionally balanced pet foods we offer are free from artificial colors, flavors and preservatives.</p>
			</div>
		</div>
	</div>

	<div class="gallery-sec uniform">
		<div class="inside med2" uk-lightbox>
			<div class="full top">
				<div class="left">
			    <a href="<%= image_url('retailGall1.jpg') %>" data-alt="Woof Gang Bakery dog food display"><%= image_tag('retailGall1.jpg', alt: 'Woof Gang Bakery dog food display', class: 'img-responsive gall-img') %></a>
		    	<a href="<%= image_url('retailGall2.jpg') %>" data-alt="Woof Gang Bakery Woodlands - treat display"><%= image_tag('retailGall2.jpg', alt: 'Woof Gang Bakery Woodlands - treat display', class: 'img-responsive gall-img') %></a>
		    	<a href="<%= image_url('retailGall3.jpg') %>" data-alt="Dog sniffing treats in a Woof Gang Bakery store"><%= image_tag('retailGall3.jpg', alt: 'Dog sniffing treats in a Woof Gang Bakery store', class: 'img-responsive gall-img') %></a>
				</div>

				<div class="right">
		    	<a href="<%= image_url('retailGall5.jpg') %>" data-alt="Dog food display"><%= image_tag('retailGall5.jpg', alt: 'Dog food display', class: 'img-responsive gall-img') %></a>
					<a href="<%= image_url('retailGall4.jpg') %>" data-alt="Homemade Woof Gang Bakery Treats"><%= image_tag('retailGall4.jpg', alt: 'Homemade Woof Gang Bakery Treats', class: 'img-responsive gall-img') %></a>
		    	<a href="<%= image_url('retailGall6.jpg') %>" data-alt="Chew toys, treats, and spa products at Woof Gang Bakery"><%= image_tag('retailGall6.jpg', alt: 'Chew toys, treats, and spa products at Woof Gang Bakery', class: 'img-responsive gall-img') %></a>
				</div>
			</div>
		</div>
	</div>
</div>
