<% @page_title = "Retail" %>
<% @page_description = "New Description" %>

<% @page_title = "Retail" %>
<% @page_description = "New Description" %>

<div class="services-layout retail">
	<div class="serv-slider inline-show">
		<div class="inside lg">
			<div class="il-slideshow" uk-slideshow="autoplay: true;max-height: 600; animation: push">
				<div>
				  <ul class="uk-slideshow-items">
						<li><%= image_tag('retail-slide3.jpg', class: 'img-responsive uk-cover', alt: '') %></li>
						<li><%= image_tag('retail-slide5.jpg', class: 'img-responsive uk-cover', alt: '') %></li>
						<li><%= image_tag('retail-slide1.jpg', class: 'img-responsive uk-cover', alt: '') %></li>
						<li><%= image_tag('retail-slide2.jpg', class: 'img-responsive uk-cover', alt: '') %></li>
						<!-- <li><%= image_tag('retail-slide3.jpg', class: 'img-responsive uk-cover', alt: '') %></li> -->
						<li><%= image_tag('retail-slide6.jpg', class: 'img-responsive uk-cover', alt: '') %></li>
				  </ul>
			    <!-- <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a> -->
			    <!-- <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a> -->
			  </div>
			  <!-- <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul> -->
			</div>


			<div class="title">
	  	  <%= image_tag('wg-logo1.png', class: 'img-responsive srv-logo', alt: '')%>
			</div>
		</div>
	</div>

	<div class="statement">
		<div class="inside med2-def">
	  	<div class="text">
				<h1>We help you find the best food to feed your pet</h1>
				<p>Woof Gang Bakery is the leader in raw, frozen diet, kibble, canned and dehydrated dog and cat foods.
				Our highly-rated pet food brands provide a nutritious meal without any preservatives or artificial chemicals.
				Nourish your pet with nutrient-rich food that promotes lifelong health.</p>
			</div>
		</div>
	</div>

	<div class="gallery-sec mason">
		<div class="inside med2" uk-lightbox>
			<div class="full top">
				<div class="left">
			    <a href="<%= image_url('retail-gallery1.jpg') %>" data-alt="Image"><%= image_tag('retail-gallery1.jpg', class: 'img-responsive gall-img') %></a>
			    <a href="<%= image_url('retail-gallery2.jpg') %>" data-alt="Image"><%= image_tag('retail-gallery2.jpg', class: 'img-responsive gall-img') %></a>
			    <a href="<%= image_url('retail-gallery3.jpg') %>" data-alt="Image"><%= image_tag('retail-gallery3.jpg', class: 'img-responsive gall-img') %></a>
				</div>

				<!-- hlf two -->

				<div class="right">
			    <a href="<%= image_url('retail-gallery4.jpg') %>" data-alt="Image"><%= image_tag('retail-gallery4.jpg', class: 'img-responsive gall-img') %></a>
			    <a href="<%= image_url('retail-gallery5.jpg') %>" data-alt="Image"><%= image_tag('retail-gallery5.jpg', class: 'img-responsive gall-img') %></a>
			    <a href="<%= image_url('retail-gallery6.jpg') %>" data-alt="Image"><%= image_tag('retail-gallery6.jpg', class: 'img-responsive gall-img') %></a>
				</div>
			</div>
		</div>
	</div>
</div>
