<% @page_title = "Retail" %>
<% @page_description = "New Description" %>


<!-- <p>
	Woof Gang Bakery is the leading specialty retailer of pet food, pet supplies and professional pet grooming in North America, with more than 100 locations across the U.S.
	We offer the very best in pet care by providing quality products and grooming, with a service-oriented approach. Each location is a neighborhood store committed to the well-being, health and happiness of pets.
</p>

<p>
	In 2018, Woof Gang Bakery was designated one of the <b>top 10 largest retailers</b> by Pet Business Media.
	Woof Gang Bakery also was named <b>best overall multi-unit retailer</b> and received the <b>Multi-Service Excellence Award</b> from Pet Business Media.
	The company received the <b>Retailer of the Year Franchise Award</b> from Pet Product News, and was recognized by Pet Insight magazine as <b>one of the nation’s fastest-growing pet chains.</b>
</p>

<p>
	At Woof Gang Bakery, we know that pets are a part of our families -- our faithful companions that bring us great joy.
	We want to help you show your love and appreciation for their unconditional affection and devotion.
</p>

 -->

<div class="page-header">
	<div class="inside">
		<div class="tbox">
			<h1>Your Neighborhood Pet Store</h1>
			<h2>Woof Gang Bakery is committed to providing outstanding service and quality products to the local community.
			We are the leading specialty retailer of pet food, pet supplies and professional pet grooming in North America, with more than 100 locations across the U.S.</h2>
		</div>
		<%= image_tag('gourmetbakedtreats.png', class: 'img-responsive hd-img') %>
	</div>
</div>


<div class="services-list">
	<div class="inside med2">
		<div class="serve-box">
			<div class="img-box"><%= image_tag('woof10.jpg', class: 'img-responsive sb-img') %></div>
			<div class="text">
				<p>
					Woof Gang Bakery is passionate about providing proper nutrition for your furry friends. We believe that the best nutrition comes from healthy, natural ingredients.
					We are the leader in raw, frozen diets, kibble, canned and dehydrated dog and cat food.
				</p>
			</div>

		</div>

		<div class="serve-box">
			<div class="text">
				<p>
					Woof Gang Bakery also carries a variety of unique, fun, and fashionable doggie items, as well as pet food products.
					We have a huge selection of toys and accessories, and a wide range of doggie spa products.
					<!-- Brands, quantity and sizes vary by location, please contact your local Woof Gang Bakery for specifics -->
				</p>
			</div>

			<div class="img-box"><%= image_tag('bowls.jpg', class: 'img-responsive sb-img') %></div>
		</div>

	</div>
</div>

<div class="full">
	<div class="inside narrow text-center">
		<p>
			Woof Gang Bakery also carries a variety of unique, fun, and fashionable doggie items, as well as pet food products.
			We have a huge selection of toys and accessories, and a wide range of doggie spa products.
			<!-- Brands, quantity and sizes vary by location, please contact your local Woof Gang Bakery for specifics -->
		</p>

		<div class="ilimg-box"><%= image_tag('woof9.jpg', class: 'img-responsive il-img') %></div>
		<div class="ilimg-box"><%= image_tag('toy-sec.jpg', class: 'img-responsive il-img tall') %></div>
		<div class="ilimg-box"><%= image_tag('bowls.jpg', class: 'img-responsive il-img') %></div>
	</div>
</div>
