<% @page_title = "Self-Service Grooming" %>
<% @page_description = "New Description" %>

<div class="services-layout ss-groom">
	<div class="inside lg">
		<!-- <div class="serv-slider full-show">
			<div class="fw-slideshow" uk-slideshow="autoplay: true; animation: push">
				<ul class="uk-slideshow-items">
					<li><%= image_tag('retail7.jpg', class: 'img-responsive uk-cover') %></li>
					<li><%= image_tag('retail9.jpg', class: 'img-responsive uk-cover') %></li>
					<li><%= image_tag('retail13.jpg', class: 'img-responsive uk-cover') %></li>
		    </ul>
		    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
		    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
		  </div>
		</div> -->

		<div class="serv-slider srv-slides" uk-slider="autoplay: true">
      <ul class="uk-slider-items">
  			<li><%= image_tag('retail7.jpg', class: 'img-responsive') %></li>
  			<li><%= image_tag('retail9.jpg', class: 'img-responsive') %></li>
  			<li><%= image_tag('retail13.jpg', class: 'img-responsive') %></li>
      </ul>
		</div>
	</div>

	<!-- <div class="serv-slider inline-show">
		<div class="inside lg">
			<div class="il-slideshow" uk-slideshow="autoplay: true;max-height: 600; animation: push">
				<div>
			    <ul class="uk-slideshow-items">
						<li><%= image_tag('retail7.jpg', class: 'img-responsive uk-cover') %></li>
						<li><%= image_tag('retail9.jpg', class: 'img-responsive uk-cover') %></li>
						<li><%= image_tag('retail13.jpg', class: 'img-responsive uk-cover') %></li>
			    </ul>
			  </div>
			</div>


			<div class="title">
	  	  <%= image_tag('wgb-groom.png', class: 'img-responsive srv-logo', alt: '')%>
			</div>
		</div>
	</div> -->

	<div class="statement">
		<div class="inside med">
	  	<div class="logo-bg"><%= image_tag('wgb-groom.png', class: 'img-responsive srv-logo', alt: '')%></div>
	  	<div class="text">
	  		<p><span>Woof Gang takes the hassle &amp; mess out of bath time by providing a modern, spa-like atmosphere for you to bathe your dog!</span>
	  		No more making a mess in your bathroom, or chasing your dog around the yard with a hose.
	  		Use our supplies and facilities, and skip the cleanup.</p>
			</div>
		</div>
	</div>

	<div class="list-box">
		<div class="inside">
			<!-- <h4>Amenities Include:</h4> -->
			<p>Our Amenities</p>
			<ul class=" xsmall ltr">
				<li>Shampoo & Conditioner</li>
				<li>Variable Speed Warm Dryers</li>
				<li>Towels</li>
				<li>No Bending or Kneeling</li>
				<li>User-Friendly Set-Up, Including Ramps</li>
				<li>Brushes</li>
				<li>Warm Water</li>
				<li>Aprons</li>
			</ul>
		</div>
	</div>

	<div class="full sl">
		<div class="inside med">
			<div class="sl1">
				<h4>Benefits for You</h4>
				<p>
					We provide all the tools to make your dog look and smell great. All you need to provide is the dog!
					Our self-service grooming allows you to have a one-on-one experience with your dog, and leave the mess with us.
				</p>
			</div>

			<div class="sl2">
				<h4>Benefits for Them</h4>
				<p>
					Having a healthy coat benefits your dog in so many ways.<br>
					By maintaining good grooming habits, you are doing far more than just showing off that beautiful fur.
					You are also giving your dog the gift of good health!
				</p>
			</div>
		</div>
	</div>

	<!-- <div class="disclaim"><h4>Self-Service Grooming is offered only at select locations.</h4></div> -->
	<div class="locations-disc">
		<div class="inside med2">
			<h4>Self-Service Grooming is offered only at select locations.</h4>
			<div class="btn-hlf">
				<%= link_to "View Locations", "/tags/self-service-grooming", class: 'woof-link' %>
			</div>
		</div>
	</div>

</div>





<!-- instructions -->
	<!-- Rotator: Self-service grooming photos (Paul request photos from the Karamans)

	Woof Gang Self-Service Grooming logo
	-Kristen can create this specifically for this page only

	Positioning statement, benefits and amenities are all ok. Just need to follow the new page design and format.

	***HOWEVER: WE MUST DETERMINE HOW MUCH OF THIS COPY IS ORIGINAL WGB COPY AND/OR HOW MUCH IS PLAGARIZED FROM OTHER SOURCES*** -->


