<% @page_title = "Services" %>
<% @page_description = "New Description" %>

<div class="ipage-header opink simple left">
	<div class="inside">
		<h1>Our Services</h1>
	</div>
</div>


<div class="services-list">
	<div class="inside">
    <ul class="uk-nav uk-navbar-dropdown-nav">
			<li><%= link_to "Retail", retail_path %></li>
			<li><%= link_to "Grooming", grooming_path %></li>
			<li><%= link_to "Self Service Grooming", self_service_grooming_path %></li>
			<li><%= link_to "Doggie Daycare", doggie_daycare_path %></li>
			<li><%= link_to "Veterinary Clinic", vet_clinic_path %></li>
    </ul>
	</div>
</div>
