<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <p><b>Full Name:</b><br>
    <%= @candidate.name %></p>

    <p><b>Email:</b><br>
    <%= @candidate.email %></p>

    <p><b>Phone Number:</b><br>
    <%= @candidate.phone %></p>

    <p><b>Street Address:</b><br>
    <%= @candidate.address %></p>

    <p><b>City:</b><br>
    <%= @candidate.city %></p>

    <p><b>State:</b><br>
    <%= @candidate.state %></p>

    <p><b>Zip:</b><br>
    <%= @candidate.zip %></p>

    <p><b>Retail Experience:</b><br>
    <%= @candidate.experience %></p>

    <p><b>Background:</b><br>
    <%= @candidate.background %></p>

    <p><b>Preferred State:</b><br>
    <%= @candidate.preferred_state %></p>

    <p><b>Preferred City:</b><br>
    <%= @candidate.preferred_city %></p>

    <p><b>Cash available to invest:</b><br>
    <%= @candidate.cash %></p>

    <p><b>When will you be able to sign an agreement:</b><br>
    <%= @candidate.time_frame %></p>

	</body>
</html>

