<div class="slide-form">
  <%= form_for(@slide, :html => {class: "form-horizontal", role: "form" }) do |f| %>
		<%= render 'shared/errors', obj: @slide %>

		<div class="sub-actions">
			<div class="actions">
		    <% unless @slide.new_record? %>
		      <%= link_to "Delete This slide", slide_path(@slide.id), method: :delete, data: { confirm: "Are you sure you want to delete this slide?" }, class: "action woof-link danger" %>
		    <% end %>
		  </div>
		</div>


		<div class="form-group img">
			* <%= f.label :image %>
			<div class="img-wrp">
			  <%= f.file_field :image %>

			  <% unless @slide.new_record? %>
					<% if @slide.image.attached? %>
						<p class="tsmall">Current Image:</p>
					  <div class="thumb"><%= image_tag @slide.image %></div>
					<% end %>
		    <% end %>
		  </div>
		</div>

		<div class="form-group title">
	    * <%= f.label :title %><br>
	    <%= f.text_field :title %>
		</div>
		<div class="clearfix"></div>

		<div class="form-group final">
		  <div class="actions">
		    <%= link_to("[ Cancel ]", slides_path, :class => 'action woof-link cancel') %>
		    <%= f.submit(@slide.new_record? ? "Create new slide" : "Update slide", class: "action woof-link submit") %>
		  </div>
		</div>


  <% end %>
</div>
