<% @page_title = "Manage Slides" %>
<% @page_description = "" %>

<div class="ipage-header">
	<div class="inside med2">
		<h1><%= @page_title %></h1>
		<h2>Drag slides to change order<br> Recommended size is 1500x833</h2>
		<% if user_signed_in? && current_user.admin? %>
	    <button class="admin-uk wl-uk uk-float-right" type="button"><span  uk-icon="icon: settings;"></span></button>
	    <div uk-dropdown="mode: click; pos: bottom-right; boundary: .wl-uk;">
  			<%= link_to "Create New slide", new_slide_path, class: 'woof-link' %>
      </div>
		<% end %>
	</div>
</div>


<div class="full-sec">
	<div class="inside">
		<ul id="slides" class="li-slides" data-url="<%= sort_slides_path %>">
			<% @slides.each do |slide| %>
				<li id="<%= dom_id(slide) %>">
					<% if slide.image.attached? %>
					  <div class="preview"><%= image_tag(slide.image) %></div>
					<% end %>

					<div class="info">
				  	<p>
				  		<strong>Title:</strong> <%= slide.title %></p>
				  	<!-- <hr> -->
					  <div class="options">
					  	<!-- <span><%= link_to "View", slide_path(slide) %></span> -->
					  	<span><%= link_to "Edit", edit_slide_path(slide) %></span>
					  	<span class="delete"><%= link_to "Delete", slide_path(slide.id), method: :delete, data: { confirm: "Are you sure you want to delete this slide?" } %></span>
					  </div>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
</div>
