<% @page_title = "Latest News" %>
<% @page_description = "" %>



<div class="ipage-header left opink">
	<div class="inside">
		<h1>Blog</h1>
		<%= link_to 'New blog', new_blog_path, class: 'woof-link' %>
	</div>
</div>

<div class="full-sec blog-posts">
	<div class="inside med">
		<% @blogs.each do |blog| %>
			<style type="text/css">
				.post-gi {
					background-image: url(<%= rails_blob_url(blog.image) %>);
				}
			</style>

			<%= link_to blog_path(blog), class: 'post-gi' do %>
	      <!-- <%= image_tag blog.image, class: 'img-bg' %> -->
		    <h3 class="title"><%= blog.title %></h3>

		    <!-- <p><%= blog.text %></p> -->
			<% end %>
		<% end %>

	</div>
</div>
