<%= tag.div id: "stores-list", data: { stores: @stores.to_json(methods: [:address]), l: params[:l] } do %>
	<table>
		<% @stores.each do |store| %>
			<div class="location-bx">
				<% if store.store_name %>
					<%= link_to store_path(store) do %>
						<div class="cat name"><%= store.ntitle.titleize %></div>
					<% end %>
				<% else %>
					<%= link_to store_path(store) do %>
						<div class="cat name">
							<%= store.city.titleize %></div>
					<% end %>
				<% end %>

				<div class="cat address">
					<%= store.street_address_one %><% if store.street_address_two %>,
					<span class="addr"><%= store.street_address_two %></span>
					<% end %>
					<br><%= store.city %>, <%= store.state.name %> <%= store.zip %>
				</div>

				<div class="cat phone"><a href="tel:<%= store.phone %>"><%= number_to_phone(store.phone, delimiter: '-') %></a></div>

				<div class="cat email">
					<a href="mailto:<%= store.email_address %>"><span uk-icon="icon: mail;"></span></a>


						<% if store.fb %>
							<a href="https://www.facebook.com<%= store.fb %>" target="_blank"><span class="linkcon" uk-icon="icon: facebook;"></span></a>
						<% end %>

				</div>

				<div class="cat tags">
					<span>Store Services:</span><br>
					<button class="tag-icon retail" uk-tooltip="Retail"><span class="tag-img"></span></button>

					</div>

				<div class="btn-row">
					<%= link_to "Store Details", store_path(store), class: 'woof-link' %>
					<a href="<%= store.direct_link %>" target="_blank" class="woof-link dir">Directions </a>
				</div>


    		<% if user_signed_in? && current_user.admin? %>
					<% if store.longitude == nil %><div class="actions">**<small>Coordinates Missing**</small></div><% end %>
				<% end %>
			</div>
		<% end %>
	</table>
<% end %>
<%= will_paginate @stores, remote: true %>
