<% @page_title = @store.store_name.titleize %>
<% @page_description = "New Description" %>

<div class="store-page">
	<div class="title">
		<% if @store.store_name.include? "Grooming" %>
			<h2>Woof Gang Bakery & Grooming </h2>
		<% else %>
			<h2>Woof Gang Bakery</h2>
		<% end %>
		<h1><%= @store.ntitle %></h1>

		<% if user_signed_in? && current_user.admin? %>
			<button class="admin-uk wl-uk uk-float-right" type="button"><span  uk-icon="icon: settings;"></span></button>
	    <div uk-dropdown="mode: click; pos: bottom-right; boundary: .wl-uk;">
				<%= link_to("Edit Store (#{@store.id})", edit_store_path(@store), class: 'woof-link') %>
      </div>
		<% end %>

	</div>

 	<div class="full">
 		<!-- <div class="back-link">
 			<%= link_to "/stores", class: 'text-link' do %>
 				<span class="" uk-icon="icon: arrow-left;"></span> Back to Stores
 			<% end %>
 		</div> -->


		<div class="inside med2">
		 	<div class="store-body">
				<% if @store.image.attached? %>
			 		<div class="image attach"><%= image_tag @store.image %></div>
				<% else %>

					<div class="image"><%= image_tag('savannah-interior.jpg', class: 'img-responsive', alt: '')%></div>
				<% end %>

				<div class="store-dets">
					<div class="full top">
					<!-- <h3><%= @store.ntitle %> Details</h3> -->
						<h3>Store Details</h3>

						<div class="btn-row">
							<a href="<%= @store.direct_link %>" target="_blank" class="woof-link">Directions </a>
						</div>
					</div>
					<div class="clearfix"></div><hr class="one">


					<div class="cat address">
						<!-- <p class="addr"><%= @store.street_address_one.titleize %><br> -->
							<p class="addr"><%= @store.street_address_one %><br>
						<% if @store.street_address_two %>
							<!-- <span class="addr2"><%= @store.street_address_two.titleize %></span> -->
							<span class="addr2"><%= @store.street_address_two %></span>
						<% end %>
						<%= @store.city %>, <%= @store.state.name %> <%= @store.zip %></p>
					</div>

					<div class="clearfix"></div><hr class="one">
					<div class="cat phone">
						<p><a href="tel:<%= @store.phone %>"><%= number_to_phone(@store.phone, delimiter: '-') %></a></p>
					</div>

					<div class="cat email">
						<p><a href="mailto:<%= @store.email_address %>"><span uk-icon="icon: mail;"></span></a></p>
						<!-- <p><a href="mailto:<%= @store.email_address %>"><%= @store.email_address %></a></p> -->
					</div>

					<div class="cat soc">
						<% if @store.list_links.count > 0 %>
							<% unless @store.fb.empty? %>
								<a href="https://www.facebook.com<%= @store.fb %>" target="_blank"><span class="linkcon" uk-icon="icon: facebook;"></span></a>
							<% end %>

							<% unless @store.insta.empty? %>
								<a href="https://www.instagram.com<%= @store.insta %>" target="_blank"><span class="linkcon" uk-icon="icon: instagram;"></span></a>
							<% end %>

							<% unless @store.twitter.empty? %>
								 <!-- != ''  -->
								<a href="https://twitter.com<%= @store.twitter %>" target="_blank"><span class="linkcon" uk-icon="icon: twitter;"></span></a>
							<% end %>

							<% if @store.yelp != '' %>
								<a href="https://www.yelp.com/biz<%= @store.yelp %>" target="_blank"><span class="linkcon" uk-icon="icon: yelp;"></span></a>
							<% end %>

							<% unless @store.site.empty? %>
								<a href="<%= @store.site %>" target="_blank"><span class="linkcon" uk-icon="icon: link;"></span></a>
							<% end %>
						<% end %>
					</div>

					<div class="clearfix"></div><hr class="one">
					<% if @store.hours %>
						<div class="cat hours">
							<p class="hd">Hours of Operation:</p>
							<p>
								<% @store.c_hours.each do |c_hours| %>
									<%= c_hours %><br>
								<% end %>
							</p>
						</div>
					<% end %>

					<div class="cat tags">
						<p class="hd">Store Services:</p>
						<button class="tag-icon retail" uk-tooltip="Retail"><span class="tag-img"></span></button>
						<% @store.tag_split.each do |tag| %>
							<button class="tag-icon <%= tag %>" uk-tooltip="<%= tag.titleize %>">
								<span class="tag-img"></span>
							</button>
						<% end %>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>
