<%= render 'shared/errors', obj: @reporter %>

<%= form_for @reporter, url: media_inquiries_path do |reporter| %>
  <fieldset>
    <!-- < if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    < end %> -->

    <% if flash[:alert] %>
      <div class="notice"><%= flash[:alert] %></div>
    <% end %>

    <div class="full top">
      <p class="print">* indicates required field</p>
      <hr>
    </div>

    <div class="form-group name">
      <label>* First Name:</label><br>
      <%= reporter.text_field :first_name %>
    </div>

    <div class="form-group name">
      <label>* Last Name:</label><br>
      <%= reporter.text_field :last_name %>
    </div>

    <div class="form-group phone">
      <label>* Phone: </label><br>
      <%= reporter.text_field :phone %>
    </div>

    <div class="form-group email">
      <label>* Email: </label><br>
      <%= reporter.email_field :email %>
    </div>

    <div class="form-group location">
      <label>* Media Outlet:</label><br>
      <%= reporter.text_field :outlet %>
    </div>

    <div class="form-group grapevine">
      <label>Deadline (mm/dd/yy):</label><br>
      <%= reporter.text_field :deadline %>
    </div>

    <div class="form-group content">
      <!-- (-500 characters max) -->
      <label>* Your Question:</label><br>
      <%= reporter.text_area :question %>
    </div>


    <div class="form-group honey">
      <%= label_tag :honey %>
      <%= reporter.text_field :honey %>
      <span class="help">Do not fill in this field. It is an anti-spam measure.</span>
    </div>


    <div class="form-group submit">
      <%= reporter.submit "Submit", :class=> "send-message" %>
    </div>
  </fieldset>
<% end %>

