<% @page_title = "Manage States" %>

<div class="ipage-header">
	<div class="inside narrow">
		<div class="full">
			<h1><%= @page_title %></h1>
		</div>
	</div>
</div>


<div class="full-sec states">
	<div class="inside med2-def">
		<% for state in @states %>
		 	<div class="state-li">
				<p><%= state.id %>. <%= state.full_name %></p>
				<div class="actions">
					<span><%= link_to "View", state_path(state) %></span>
					<span><%= link_to "Edit", edit_state_path(state) %></span>
					<!-- <= link_to "Delete State", state_path(state.id), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "delete" %> -->
				</div>
		 	</div>
	  <% end %>
	</div>
</div>
