<% @page_title = "Contact List" %>
<% @page_description = "New Description" %>

<div class="ipage-header opink simple">
	<div class="inside">
		<h1>Contacts</h1>
	</div>
</div>

<div class="full-sec">
	<div class="inside narrow">
			<% @contacts.each do |contact| %>
				<%= link_to contact_path(contact), class: 'db-listing' do %>
					<h4><b><%= contact.name %></b></h4>
					<p><b><%= contact.created_at.to_date %></b><br>
						<!-- <%= contact.location %><br> -->
						<%= contact.email %>
					</p>
				<% end %>

			<% end %>
		</div>
	</div>
</div>
