<% @page_title = "Contact Us" %>
<% @page_description = "New Description" %>

<div class="services-layout contactus">
	<div class="franchise-head v2">
		<div class="inside med">
			<!-- 998x500 -->
			<%= image_tag('little-bones.jpg', class: 'img-responsive', alt: '') %>
			<div class="text">
				<h1><%= @page_title %></h1>
			</div>
		</div>
	</div>


	<div class="statement">
		<div class="inside med2-def">
	  	<div class="text">

  		<div class="right">
  			<p class="sp"><b>Woof Gang Bakery Corporate:</b></p>
  			<div class="address">
  				<p>7575 Dr. Phillips Blvd<br>
	  			Suite 275<br>
	  			Orlando, FL 32819</p>
	  		</div>

  			<div class="nums">
  				<p>P: 407-355-9210<br>
  				F: 877-554-1020</p>

  				<p>Monday-Friday: 8am-5pm</p>
  			</div>
  		</div>

			<div class="clearfix tb"></div>


	  		<div class="left">
					<p>If you need to contact a store regarding a grooming appointment, please visit our <%= link_to 'locations page', locations_path, class: 'text-link' %> to contact the store directly. For general inquires, comments, and questions, please fill out the form below, or contact our corporate office directly.</p>
	  			<div class="clearfix"></div>
	  			<div class="btn-row">
		  			<%= link_to 'Media & Press Inquiries', media_inquiries_path, class: 'woof-link' %>
		  			<%= link_to 'Contact Vendor Relations', vendor_path, class: 'woof-link' %>
		  			<%= link_to 'Real Estate Submissions', real_estate_submissions_path, class: 'woof-link' %>
		  		</div>
	  		</div>
			</div>
		</div>
	</div>

	<div class="list-box">
		<div class="inside med2-def">
		  <%= render 'form' %>
		</div>
	</div>
</div>
