<% @page_title = "Contact Us" %>
<% @page_description = "New Description" %>

<div class="ipage-header opink simple">
	<div class="inside">
		<h1>Contact Us</h1>
	</div>
</div>

<div class="intro-sec">
	<div class="inside narrow">
		<p>If you need to contact a store regarding a grooming appointment, please visit <%= link_to 'our locations page', locations_path, class: 'text-link' %> to contact the store directly.
		For general inquires, comments, and questions, please fill out the form below, or contact our corporate office directly.</p>
	</div>
</div>

<div class="full-contact">
	<div class="inside">
		<div class="over">
			<div class="is-box one">
				<h3>Contact Information:</h3>
				<p>Woof Gang Bakery Corporate Office<br>
				7575 Dr. Phillips Blvd<br>
				Suite 275<br>
				Orlando, FL 32819</p>

				<p>P: 407-355-9210<br>
					F: 877-554-1020</p>

				<p>Monday-Friday: 8am-5pm</p>
			</div>

			<%= link_to 'Media & Press Inquiries', media_inquiries_path, class: 'woof-link' %>
			<%= link_to 'Contact Vendor Relations', vendor_path, class: 'woof-link' %>
			<%= link_to 'Real Estate Submissions', real_estate_submissions_path, class: 'woof-link' %>
		</div>

		<div class="form-side">
	    <%= render 'form' %>
	  </div>

	</div>
</div>
