<% @page_title = "Franchise FAQs" %>
<% @page_description = "New Description" %>

<div class="franchise-faqs">
	<%= render 'franchise_pages/franch-header' %>
	<div class="top-row">
		<div class="inside">
			<!-- <div class="top-img">
				<%= image_tag('ride', class: 'img-responsive', alt: '') %>
			</div> -->

			<div class="ttext">
				<h3>Do you have questions about becoming a Woof Gang Bakery franchisee?<br>
				Read through our list of FAQ's below to learn more. If your question isn't answered on this page, <%= link_to 'click here', contact_path, class: 'text-link' %> to contact us for more information.</h3>
				<!-- <p>Want to save for later? Download your own copy of the <strong>FAQs</strong>.</p> -->
			</div>
		</div>
	</div>

	<div class="faq-tabs">
		<div class="inside">

			<ul class="uk-tab-bottom" uk-tab>
				<li><a>Why Woof Gang Bakery?</a></li>
				<li><a>What do I need to apply as a franchisee?</a></li>
				<li><a>Will I have to be involved in the business full-time?</a></li>
				<li><a>What operational support does Woof Gang Bakery provide?</a></li>
				<li><a>What type of training do you provide?</a></li>
				<li><a>How many employees will I need?</a></li>
				<li><a>Does Woof Gang Bakery help with marketing?</a></li>
				<li><a>Do all franchises buy products from the same vendors?</a></li>
				<li><a>Do you assist with site selection?</a></li>
				<li><a>Do you offer advice on construction?</a></li>
				<li><a>What makes a Woof Gang Bakery the leader of the pack?</a></li>
				<li><a>What does it cost to become a franchise owner?</a></li>
				<li><a>Is it possible to operate multiple Woof Gang Bakery stores?</a></li>
				<li><a>What are the ongoing fees?</a></li>
				<li><a>Where is the brand expanding?</a></li>
				<li><a>What is the next step?</a></li>
			</ul>

			<ul class="uk-switcher">
				<li>
					<h4>Why Woof Gang Bakery?</h4>
					<p>We want our franchisees to be successful! Woof Gang Bakery offers quality products and a unique concept that aligns with a growing, multi-billion dollar industry. Our stores are strategically positioned in upscale retail properties and we have an effective marketing program that creates awareness and drives business.</p>

					<p>We provide extensive training to assist you with everything you need to know to operate your own successful Woof Gang Bakery. We strive for success and will only award franchises to those who share that same drive and dedication.</p>

					<p>To be successful in business, you have to enjoy the business you choose. If you love dogs, Woof Gang Bakery offers you the opportunity to combine your passion with the chance to run your own business in an exciting, growing industry.</p>

					<%= image_tag('pup-group.png', class: 'img-responsive tab-img', alt: '') %>
				</li>

				<li>
					<h4>What do I need to apply as a franchisee?</h4>
					<p>The key to continuing the success of Woof Gang Bakery and maintaining our mission is selecting the right people to join our team as franchise owners. We have multiple franchise owners who have diverse backgrounds and business experiences. Many of our owners, however, were once Woof Gang Bakery customers who were attracted by the quality of our products, our vision of service, and our solid support infrastructure.
					A prospective franchisee must be willing to work hard, be committed to excellent customer service, be a team player with a drive to succeed, and control their own financial future.</p>

					<ul class="paw xsmall">
						<p>As we share our vision with others, we are looking for individuals who demonstrate the following:</p>
						<li>High degree of personal integrity</li>
						<li>Dedication to upholding the Woof Gang Bakery mission</li>
						<li>Entrepreneurial spirit</li>
						<li>Proven ability to motivate and train others</li>
						<li>Devote full-time best efforts to the day-to-day operation of a Woof Gang Bakery store</li>
						<li>Complete a comprehensive training program and be proficient in all aspects of operating a Woof Gang Bakery store</li>
						<li>Financial resources and the ability to manage them</li>
						<li>Provide outstanding customer service</li>
						<li>Active community participant</li>
					</ul>
				</li>

				<li>
					<h4>Will I have to be involved in the business full-time?</h4>
					<p>The franchisee's participation, supervision, and their full and exclusive time in daily store operations is essential to building their business.
						For all partnerships, we require the general partner to participate personally in the direct operation of their Woof Gang Bakery store.</p>
				</li>

				<li>
					<h4>What operational support does Woof Gang Bakery provide?</h4>
					<p>Want to become a franchisee? Check out these common questions for answers.
						We understand that only through your success is the entire company successful. Our support services start prior to you becoming a Woof Gang Bakery franchisee. We will make sure that your market is right for a successful Woof Gang Bakery store. Then we will start with pre-opening support such as assistance in developing a business plan, site selection assistance, lease negotiation, equipment leases, store fixtures and opening inventory requirements.</p>

					<p>Our support team is committed to providing the assistance that you need to get your business off to a smooth start and keep it performing productively. We will help you train your staff, stock and display your initial inventory, and recommend advertising programs to enhance your market presence. Within the first year of operation you will receive multiple store visits from a member of the support team. Plus, we will always be available should questions arise.</p>

					<p>The Franchise Development Team works with the franchisees in the development of their market. Ultimately, like any small business, the franchisee is responsible for growing their enterprise. The franchise development team will assist and guide a franchisee in their pursuit of development. Along with enterprise training, Woof Gang Bakery provides established processes and technology that will assist in a franchisee’s pursuit to own a successful store.</p>
				</li>

				<li>
					<h4>What type of training do you provide?</h4>
					<p>Training is comprised of two segments that prepare franchisees on the operation of the store.
					The first segment is done in a training store. The final segment is done at your new store location with a Woof Gang Bakery field representative on hand to assist.</p>
				</li>

				<li>
					<h4>How many employees will I need?</h4>
					<p>Woof Gang Bakery stores are built on the concept that one person can easily manage daily operations, including opening, serving customers, baking treats, stocking, cleaning and closing.
					Of course, peak retail seasons can be bustling, so extra help to provide excellent customer service during those times is highly recommended.</p>
				</li>

				<li>
					<h4>Does Woof Gang Bakery help with marketing?</h4>
					<p>We sure do! We understand the importance in creating awareness and building the brand image in each of the communities we serve. Marketing campaigns are developed to support the overall positioning of the Woof Gang Bakery brand. Marketing supports these objectives by assisting franchise owners with implementing their own local advertising, marketing, print and promotions programs.
					New marketing tools and concepts are made available to our franchisees as they are developed.</p>
				</li>

				<li>
					<h4>Do all franchises buy products from the same vendors?</h4>
					<p>Yes. One of the benefits of joining an established franchise company is that solid relationships are in place with food distributors, product vendors, printing companies, equipment suppliers and others. Our purchasing department negotiates services and price agreements with approved suppliers and distributors.
					You will be provided the systems and products that are identified as the approved core menu to create brand alignment and to leverage the purchasing power of our company.</p>
				</li>

				<li>
					<h4>Do you assist with site selection?</h4>
					<p>We are ready to assist you in locating a site for your Woof Gang Bakery. We have developed site selection criteria you can use as a guideline in locating your new store. While we do not select your site for you, we will be available to consult with you and offer recommendations based on our own site selection experience. We will review your site choices and help you make an evaluation based on building criteria, market area, site characteristics and access.</p>
					<ul class="paw xsmall">
						<p>We also have real estate guidelines in place:</p>
						<li>High visibility strip mall, approximately 600 to 3000 square feet.</li>
						<li>Sources for strong foot traffic: trade area mix of offices and retail with surrounding upscale residential.</li>
						<li>15,000 or more households with household income above $85,000.</li>
						<li>Strong co-tenancy consisting of high-end retail, daily needs and/or lifestyle centers.</li>
						<li>Minimum of 15,000 vehicles per day along the main frontage road.</li>
					</ul>
				</li>

				<li>
					<h4>Do you offer advice on construction?</h4>
					<p>We will work with you to develop a layout to fit the particular characteristics of your site. Our construction personnel can visit your site and offer recommendations for necessary modifications.
					We can also assist you with remodeling enhancement programs, equipment specifications, source lists, document/permit review and design review.</p>
				</li>

				<li>
					<h4>What makes a Woof Gang Bakery the leader of the pack?</h4>
					<ul class="paw xsmall">
						<p>Simply, we are the best at what we do. Following is an overview of what we offer:</p>
						<li>Treats cooked on site</li>
						<li>Premium pet foods</li>
						<li>Unique natural pet care products and merchandise</li>
						<li>High repeat business</li>
						<li>Ongoing franchisee support and training</li>
						<li>Site selection assistance with demographic requirements and recommendations</li>
						<li>Store design and construction support</li>
						<li>Equipment procurement sources</li>
						<li>Woof Gang Bakery® Recipe Book, complete with recipes, helpful tips and detailed instructions on preparing our exclusive line of gourmet treats</li>
						<li>Grooming &amp; Self Service Grooming Stations</li>
						<li>Established product suppliers and vendors</li>
						<li>Effective marketing materials</li>
					</ul>
				</li>

				<li>
					<h4>What does it cost to become a franchise owner?</h4>
					<p>The approximate investment range for opening a Woof Gang Bakery store is between $100,600 to $179,900.
					For additional details on the investment range of a single store, please refer to the investment section in the Franchise Disclosure Document.
					This information appears in Item 7 of our Franchise Disclosure Document issued on January 4, 2012. You should review that Franchise Disclosure Document for a full discussion of this and other information.</p>
				</li>

				<li>
					<h4>Is it possible to operate multiple Woof Gang Bakery stores?</h4>
					<p>In addition to operating multiple stores through an Area Development Agreement,
					a franchisee may operate additional units through single franchise agreements once a successful track record has been established.</p>
				</li>

				<li>
					<h4>What are the ongoing fees?</h4>
					<p>A 5% monthly royalty.</p>
				</li>

				<li>
					<h4>Where is the brand expanding?</h4>
					<p>Woof Gang Bakery continues to develop throughout America. Our expansion plans are quite ambitious and include many of the top U.S. markets.
					Consult with the corporate office to see what type of opportunities are in your market.</p>
				</li>

				<li>
					<h4>What is the next step?</h4>
					<p>The Woof Gang Bakery franchise is successful only if you, our franchisee is successful. Our franchise opportunity is available for consideration to individuals who meet certain financial and personal requirements.</p>

					<p>If you feel that you follow the same vision that we do, and would like to learn more, please complete and submit the
						<%= link_to "franchise request form", franchise_inquiries_path %>. Once we review your information, we will send additional information to you about joining the Woof Gang Bakery &amp; Grooming family.</p>
				</li>
			</ul>
		</div>
	</div>
</div>
