<% @page_title = "Franchise Opportunities" %>
<% @page_description = "New Description" %>


<div class="franchise-header">
	<div class="inside narrow">
		<div class="tbox">
			<h1>Join Our Team &amp; Become Part of the<br> Furriest, Friendliest Franchise</h1>
			<h2>Over 100 stores nationwide</h2>
		</div>
	</div>
</div>

<div class="abs-franch">
	<%= image_tag('adobe-team.png', class: 'img-abs', alt: '')%>
</div>


<div class="full-sec story">
	<div class="inside med2">
		<div class="il-left">
			<p>Woof Gang Bakery was created in 2007 in Jupiter, Florida. From humble roots, it has grown from a single location, to a multi-state franchise with national expansion opportunities. The simple combination of outstanding service, quality products, a great management team, and our franchisees has given Woof Gang Bakery the right recipe for success.</p>
		</div>

		<div class="il-right">
			<p>Our approach to franchising is very simple:
			Successful franchising is totally built upon successful franchisees. We award franchise agreements and accept locations based on quality, not quantity. Our leadership philosophy is based upon the belief that we should direct, not dominate, the franchise system and that our franchisees should have a voice and participate in that direction.</p>
		</div>
	</div>
</div>

<div class="collage-sec">
	<div class="inside med2">
		<%= link_to '/franchise-process', class: 'block b1' do %>
			<h4>Franchise Process</h4>
		<% end %>

		<%= link_to '/home', class: 'block b2' do %>
			<h4>Franchise FAQ's</h4>
			<p>Want to become a franchisee? Check out these common questions for answers.</p>
		<% end %>

		<%= link_to '/franchise-inquiries', class: 'block b3' do %>
			<h4>Franchise Inquiries</h4>
		<% end %>
	</div>
</div>


<!--<div class="full franch-tabs">
	<ul class="uk-tab-bottom" uk-tab>
		<li><%= link_to "Franchise Information", root_path %></li>
		<li><%= link_to "Franchise Process", root_path %></li>
		<li><%= link_to "Franchise FAQ's", root_path %></li>
		<li><%= link_to "Franchise Inquiries", root_path %></li>
	</ul>

	<ul class="uk-switcher">
		<li>
			<div class="full-sec story">
				<div class="inside med2">
					<div class="il-left">
						<p>Woof Gang Bakery was created in 2007 in Jupiter, Florida. From humble roots, it has grown from a single location, to a multi-state franchise with national expansion opportunities. The simple combination of outstanding service, quality products, a great management team, and our franchisees has given Woof Gang Bakery the right recipe for success.</p>
					</div>

					<div class="il-right">
						<p>Our approach to franchising is very simple:
						Successful franchising is totally built upon successful franchisees. We award franchise agreements and accept locations based on quality, not quantity. Our leadership philosophy is based upon the belief that we should direct, not dominate, the franchise system and that our franchisees should have a voice and participate in that direction.</p>
					</div>
				</div>
			</div>

			 <div class="full-sec details">
				<div class="inside">
					<div class="fran-blk">
						<p class="tag">SNIFF US OUT</p>
						<p>
							Franchise Process
							Find out what it takes to become a franchisee.
							Review requirements and complete our inquiry form.
						</p>
						<%= link_to "Franchise Process", franchise_process_path, class: 'woof-link' %>
					</div>

					<div class="fran-blk">
						<p class="tag">BARK BACK</p>
						<p>
							FAQ's
							Have questions? We’ve got answers.
						</p>
						<%= link_to "Franchise FAQ's", root_path, class: 'woof-link' %>
					</div>

					<div class="fran-blk">
						<p class="tag">MARK YOUR TERRITORY</p>
						<p>
							Franchise Inquiry Form
							Treat of a franchise. Apply today.
							We will respond to all inquiries as soon as possible.
						</p>
						<%= link_to "Franchise Inquiries", franchise_inquiries_path, class: 'woof-link' %>
					</div>
				</div>
			</div>
		</li>


		<li>x</li>
		<li>xx</li>
		<li>xxx</li>
	</ul>
</div>-->
