<% @page_title = "Franchising" %>
<% @page_description = "Woof Gang Bakery is an innovative concept seeking new franchisees. Learn more about owning your own Woof Gang Bakery location." %>

<div class="franchise-head v2">
	<div class="inside med">
		<%= image_tag('franchising-header.jpg', class: 'img-responsive feat', alt: 'Woof Gang Bakery wrapped suv') %>

		<div class="text">
			<h2>Become a Woof Gang Bakery Franchisee</h2>
			<h1><%= @page_title %></h1>
		</div>
		<div class="seal"><div class="sicon"></div></div>
	</div>
</div>


<div class="franchise-layout fl1">
	<div class="landing-layout plus-seal">
		<div class="box one">
			<div class="inside med2-def">
			<!-- <div class="inside med-def"> -->
				<div class="text">
					<h3>A remarkably high demand exists for the products and services offered by Woof Gang Bakery.
						According to the American Pet Products Association, <span>more than 100 million U.S. households have at least one dog or cat and pet care spending exceeds $72 billion annually.</span></h3>
				</div>

				<div class="image">
					<%= image_tag('sav-olive.jpg', class: 'img-responsive img1', alt: 'Woof Gang Bakery, leash section in store') %>
					<%= image_tag('doodle.jpg', class: 'img-responsive img2', alt: 'Black dog at Woof Gang Bakery grand opening') %>
				</div>
				<div class="page-seal"><%= image_tag('seals/seal1.png', class: 'sealicon') %></div>
			</div>
		</div>
	</div>

	<div class="content-layout">
		<div class="full one fw">
			<div class="inside med2-def">
				<div class="image">
					<%= image_tag('san-ant.jpg', class: 'img-responsive photo-img', alt: 'Great dane, relaxing in a Woof Gang Bakery store.') %>
				</div>

				<div class="text">
					<p class="sig">Woof Gang Bakery is an innovative concept seeking franchisees who meet the following criteria:</p>

					<ul class="lt xsmall">
						<li>A passion for people and pets</li>
						<li>Enjoy a fast paced and dynamic environment</li>
						<li>Possess natural customer service skills</li>
						<li>A willingness to follow training and operational standards</li>
						<li>Have a genuine desire to fulfill a community need</li>
						<li>Operate a store in your own neighborhood</li>
						<li>Commitment to ethical business practices</li>
						<li>$500,000 net worth / $150,000 liquidity</li>
					</ul>

					<div class="clearfix"></div><br>
					<%= link_to 'Request Franchise Information', franchise_inquiries_path, class: 'woof-link' %>
					<div class="cl-seal"><%= image_tag('seals/seal-best.png', class: 'sealicon') %></div>
				</div>

			</div>
		</div>

		<div class="full two fw">
			<div class="inside med-def">
				<div class="text">
					<p class="sig">Interested in Purchasing an Existing Woof Gang Bakery?</p>
					<p class="reg">The purchase of an existing franchise can offer distinct advantages<br class="xl"> over a startup franchise operation:</p>
					<ul class="small ltr">
						<li>The current revenue stream of an existing franchise has value and provides an advantage versus a brand-new franchise.</li>
						<li>A new franchisee can bring fresh enthusiasm and creativity that may translate into additional sales.</li>
						<li>An existing franchise is already equipped, staffed, and in operation.</li>
						<li>Buying an existing franchise can save time and may save money.</li>
						<li>For those seeking a franchise in a particular geographic area, a franchise resale may be the best option in cases where new franchise territories are limited.</li>
					</ul>
					<p class="reg"><b>We are happy to let you know of any stores that are currently for sale.</b></p>
				</div>

				<div class="image">
					<%= image_tag('fleming.jpg', class: 'img-responsive', alt: 'Woof Gang Bakery Fleming Island location, exterior photo') %>
				</div>
			</div>
		</div>
	</div>
</div>

