<% @page_title = "Test Page" %>
<% @page_description = "" %>

<div class="ctaHeader" id="image-wrap" Xuk-grid>
	<!-- <div class="image">
		<div class="btmImg fullinimage"  uk-sticky="bottom: #image-wrap;offset:0; media:023;">
			<%= image_tag('treat-wall.jpg', class: 'img-responsive img-fw', alt: 'XXX') %>
			<%= image_tag('treat-wallXl.jpg', class: 'img-responsive img-xl', alt: 'XXX') %>
			<%= image_tag('treat-wallTw.jpg', class: 'img-responsive img-tw', alt: 'XXX') %>
		</div>
	</div> -->

	<!-- <h1 class="outer"><span class="span1">Become a</span><br> Woof Gang Bakery &amp; Grooming<br> Franchisee</h1> -->
	<div class="formBox">
		<h1><span class="span1">Become a</span><br> Woof Gang Bakery &amp; Grooming<br> Franchisee</h1>
		<script type="text/javascript" src=https://form.jotform.com/jsform/222214770102037></script>
  </div>
</div>



<div class="franchise-layout fl1">
	<div class="landing-layout plus-seal">
		<div class="box one">
			<div class="inside med2-def">
				<div class="text">
					<h3>A remarkably high demand exists for the products and services offered by Woof Gang Bakery &amp; Grooming.
						According to the American Pet Products Association, <span>there are 85 million pet households in the U.S. and annual pet care spending is estimated to exceed $109 billion in 2021.</span>
					</h3>
				</div>

				<div class="image">
					<%= image_tag('sav-olive.jpg', class: 'img-responsive img1', alt: 'Woof Gang Bakery, leash section in store') %>
					<%= image_tag('doodle.jpg', class: 'img-responsive img2', alt: 'Black dog at Woof Gang Bakery grand opening') %>
				</div>
				<div class="page-seal"><%= image_tag('seals/seal1.png', class: 'sealicon') %></div>
			</div>
		</div>
	</div>
</div>