<% @page_title = "Training & Support" %>
<% @page_description = "New Description" %>

<%= render 'franchise_pages/franch-header2' %>

<div class="franchise-layout fl1 training">
	<div class="landing-layout">
		<div class="box one">
			<div class="inside med">
				<div class="image">
					<%= image_tag('retail7.jpg', class: 'img-responsive img1', alt: '') %>
					<%= image_tag('golden2.jpg', class: 'img-responsive img2', alt: '') %>
				</div>

				<div class="text">
					<h3>We believe that initial training is one of the key factors that determine how well a franchisee will perform.
					That’s why Woof Gang Bakery has invested in a national training center in Savannah, Georgia.
					<span>Our comprehensive training process will ensure that new franchisees are well educated, understand the process and are ready to run a successful store.</span></h3>
				</div>
			</div>
		</div>
	</div>


	<div class="content-layout">
		<div class="full one fw">
			<div class="inside med-def">
				<div class="image"><%= image_tag('ext-long.jpg', class: 'img-responsive', alt: '') %></div>

				<div class="text">
					<h4>Start-Up Support</h4>
					<p>We will work with you through virtually every aspect of<br class="xl"> your store’s start up.</p>

					<ul class="">
						<li>Site selection assistance based on demographic studies</li>
						<li>In-house team to negotiate your lease</li>
						<li>Assistance with design, layout and store construction</li>
						<li>Vendor sourcing and purchasing</li>
						<li>Help in staffing your store and training employees</li>
						<li>Marketing, advertising and community relations assistance</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="full two fw">
			<div class="inside med-def">
				<div class="text">
					<h4>Ongoing Support</h4>
					<p>The pet industry is constantly changing and we believe that ongoing support is necessary to stay competitive and at the forefront of industry trend. We offer ongoing training, regional meetings, franchise conventions and other regular communications to ensure that franchisees have the tools and information needed to succeed.</p>
					<ul class="">
						<li>Regional and national support staff</li>
						<li>Highly effective mentor program</li>
						<li>Point of sale technical assistance</li>
						<li>Discounts through preferred vendors</li>
						<li>Monthly franchise accounting analysis</li>
						<li>Franchise resource page</li>
					</ul>
				</div>

				<div class="image"><%= image_tag('savannah-interior.jpg', class: 'img-responsive', alt: '') %></div>
			</div>
		</div>
	</div>
</div>
