<% @page_title = "Training & Support" %>
<% @page_description = "Woof Gang Bakery believes that initial training is one of the key factors that determine how well a franchisee will perform. Learn more about our training process." %>

<div class="franchise-head v2">
	<div class="inside med">
		<%= image_tag('franch-training.JPG', class: 'img-responsive feat', alt: 'Woof Gang Bakery wrapped suv') %>

		<div class="text">
			<h2>Become a Woof Gang Bakery Franchisee</h2>
			<h1><%= @page_title %></h1>
		</div>
		<div class="seal"><div class="sicon"></div></div>
	</div>
</div>

<div class="franchise-layout fl1 training">
	<div class="landing-layout plus-seal">
		<div class="box one">
			<div class="inside med-def">
				<div class="text">
					<h3>We believe that initial training is one of the key factors that determine how well a franchisee will perform.
					That’s why Woof Gang Bakery has invested in a national training center in Savannah, Georgia.<br class="xl">
					<span>Our comprehensive training process will ensure that new franchisees are well educated, understand the process and are ready to run a successful store.</span></h3>
				</div>

				<div class="image">
					<%= image_tag('sav-exterior.jpg', class: 'img-responsive img1', alt: 'Woof Gang Bakery Wilmington store exterior') %>
					<%= image_tag('pup36.jpg', class: 'img-responsive img2', alt: 'Beautiful dog smiling with the Woof Gang Bakery treats') %>
				</div>
				<div class="page-seal"><%= image_tag('seals/seal-petStore19.png', class: 'sealicon') %></div>
			</div>
		</div>
	</div>

	<div class="content-layout">
		<div class="full one fw">
			<div class="inside med-def">
				<div class="image"><%= image_tag('orlando.jpg', class: 'img-responsive', alt: 'Woof Gang Bakery owner with dogs') %></div>

				<div class="text">
					<p class="sig">Start-Up Support</p>
					<p class="reg">We will work with you through virtually every aspect of<br class="xl"> your store’s start up.</p>

					<ul class="">
						<li>Site selection assistance based on demographic studies</li>
						<li>In-house team to negotiate your lease</li>
						<li>Assistance with design, layout and store construction</li>
						<li>Vendor sourcing and purchasing</li>
						<li>Help in staffing your store and training employees</li>
						<li>Marketing, advertising and community relations assistance</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="full two fw">
			<div class="inside med-def">
				<div class="text">
					<p class="sig">Ongoing Support</p>
					<p class="reg">The pet industry is constantly changing and we believe that ongoing support is necessary to stay competitive and at the forefront of industry trends. We offer ongoing training, regional meetings, franchise conventions and other regular communications to ensure that franchisees have the tools and information needed to succeed.</p>
					<ul class="">
						<li>Regional and national support staff</li>
						<li>Highly effective mentor program</li>
						<li>Point of sale setup and support</li>
						<li>Discounts through preferred vendors</li>
						<li>Monthly franchise accounting analysis</li>
						<li>Franchise resource page</li>
					</ul>
				</div>

				<div class="image"><%= image_tag('training.jpg', class: 'img-responsive', alt: 'Woof Gang Bakery franchisees with mascot') %></div>
			</div>
		</div>
	</div>
</div>
