<% @page_title = "Training & Support" %>
<% @page_description = "New Description" %>

<%= render 'franchise_pages/franch-header' %>

<div class="ts1">
	<div class="inside med2">
		<p class="top">Woof Gang Bakery has assembled an experienced, talented, and dedicated team to lead our efforts.<br>
		Our Executive and Operations staff have a wealth of experience in retail, marketing and franchise support.</p>

		<ul class="paw xsmall one">
			<li>Site selection and lease negotiation</li>
			<li>Construction, layout and design</li>
			<li>Vendor and distribution sourcing/purchasing</li>
			<li>Product research and development</li>
			<li>Point of sale software</li>
		</ul>

		<ul class="paw xsmall two">
			<li>Operation and sales training</li>
			<li>Marketing guidance – grand opening planning</li>
			<li>Monthly franchise accounting analysis</li>
			<li>Franchisee resource page</li>
			<li>National conferences in Orlando and Las Vegas.</li>
		</ul>
	</div>
</div>


<div class="support-boxes">
	<div class="inside lg">
		<div class="left">
			<h4>Sampling of Our Support Services:</h4>
			<p>Woof Gang Bakery incorporates a comprehensive training program that blends hands on training for everyone, from operating partners to new employees.</p>
		</div>

		<div class="right">
			<div class="tli one">
				<div class="img-box"><%= image_tag('collie.png', class: 'img-responsive sb-img') %></div>

				<div class="text">
					<p><span>Management Tools</span><br> Our management tools will facilitate ordering, scheduling, and contain an ideal cost program to help manage your costs.</p>
				</div>
			</div>

			<div class="tli two">
				<div class="img-box"><%= image_tag('dane.png', class: 'img-responsive sb-img') %></div>

				<div class="text">
					<p><span>Training Manuals</span><br> Our Manuals take you from A-Z -- from securing real estate, to opening and marketing your store.</p>
				</div>
			</div>

			<div class="clearfix"></div>
			<div class="tli three">
				<div class="img-box"><%= image_tag('uniform.png', class: 'img-responsive sb-img') %></div>

				<div class="text">
					<p><span>Management Team</span><br>Our management team will keep you posted on all operations, marketing, purchasing, and other current events involving Woof Gang Bakery.</p>
				</div>
			</div>

			<div class="tli four">
				<div class="img-box"><%= image_tag('wmr-play.png', class: 'img-responsive sb-img') %></div>

				<div class="text">
					<p><span>Support Team</span><br> Our Support team will be on site throughout the entire process, to help you successfully launch your store.</p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="ts-last">
	<div class="inside med2">
			<div class="text">
				<!-- <p>We have also partnered with the best companies and suppliers to provide products and resources such as:</p> -->
					<p>We have also partnered with the best companies and suppliers, such as the ones listed below. These companies provide our franchisees with high quality products, resources, solutions, and services to assist in the operations of our stores, and deliver a high level of guest satisfaction.</p>
					<ul class="paw teal lt">
						<li>Phillips Feed & Pet Supply</li>
						<li>Central Garden & Pet Company</li>
						<li>Pet Food Ltd</li>
						<li>Wholesale Pet</li>
					</ul>
			</div>

			<div class="image">
				<%= image_tag('lab-lick.jpg', class: 'img-responsive', alt: '') %>
			</div>
	</div>
</div>
