<%= render 'shared/errors', obj: @estate %>

<%= form_for @estate, url: real_estate_submissions_path do |estate| %>
  <fieldset>
    <!-- < if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    < end %> -->

    <% if flash[:alert] %>
      <div class="notice"><%= flash[:alert] %></div>
    <% end %>

    <div class="full top">
      <p class="print">* indicates required field</p>
      <hr>
    </div>

    <h3>Your Information</h3>
    <div class="clearfix"></div>

    <div class="form-group company">
      <label>* Company Name:</label><br>
      <%= estate.text_field :company %>
    </div>

    <div class="form-group fname">
      <label>* Contact First Name:</label><br>
      <%= estate.text_field :first_name %>
    </div>

    <div class="form-group lname">
      <label>* Contact Last Name:</label><br>
      <%= estate.text_field :last_name %>
    </div>

    <div class="form-group phone">
      <label>* Phone: </label><br>
      <%= estate.text_field :phone %>
    </div>

    <div class="form-group email">
      <label>* Email: </label><br>
      <%= estate.email_field :email %>
    </div>

    <div class="form-group address">
      <label>* Street Address:</label><br>
      <%= estate.text_field :address %>
    </div>

    <div class="form-group address2">
      <label>Street Address 2:</label><br>
      <%= estate.text_field :address2 %>
    </div>

    <div class="form-group city">
      <label>* City:</label><br>
      <%= estate.text_field :city %>
    </div>

    <div class="form-group state">
      <label>* State:</label><br>
      <%= estate.text_field :state %>
    </div>

    <div class="form-group zip">
      <label>* Zip:</label><br>
      <%= estate.text_field :zip %>
    </div>

    <h3>Property Details</h3>
    <div class="clearfix"></div>

    <div class="form-group est_county">
      <label>* Landlord:</label><br>
      <%= estate.text_field :landlord %>
    </div>

    <div class="form-group address">
      <label>* Street Address:</label><br>
      <%= estate.text_field :est_address %>
    </div>

    <div class="form-group address2">
      <label>Street Address 2:</label><br>
      <%= estate.text_field :est_address2 %>
    </div>

    <div class="form-group est_develop">
      <label>* Located In (i.e. shopping center name, development, community):</label><br>
      <%= estate.text_field :est_develop %>
    </div>

    <div class="form-group est_city">
      <label>* City:</label><br>
      <%= estate.text_field :est_city %>
    </div>

    <div class="form-group est_state">
      <label>* State:</label><br>
      <%= estate.text_field :est_state %>
    </div>

    <div class="form-group est_zip">
      <label>* Zip:</label><br>
      <%= estate.text_field :est_zip %>
    </div>

    <div class="form-group est_county">
      <label>* County:</label><br>
      <%= estate.text_field :est_county %>
    </div>

    <div class="form-group est_footage">
      <label>* Site Square Footage:</label><br>
      <%= estate.text_field :est_footage %>
    </div>

    <div class="form-group est_type">
      <!-- <label>* Type of Property:</label><br> -->
      <%= estate.select(:est_type) do %>
        <!--other-->
        <% [['* Type of Property:', ''], ['Downtown', 'Downtown'], ['Freestanding', 'Freestanding'], ['Mall', 'Mall'], ['Shopping Center End Cap', 'Shopping Center End Cap'], ['Shopping Center In-Line', 'Shopping Center In-Line'], ['Other', 'Other']].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
    </div>

    <div class="form-group other">
      <label><b>If other</b>, what type of property?</label><br>
      <%= estate.text_field :other %>
    </div>

    <div class="form-group est_timeframe">
      <!-- <label>* When will property be available?</label><br> -->
      <%= estate.select(:est_timeframe) do %>
        <% [['* When will property be available?', ''], ['Immediately', 'Immediately'], ['Within 1 Month', 'Within 1 Month'], ['2-5 months', '2-5 months'], ['More than 6 months', 'More than 6 months']].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
    </div>

    <h3>Where did you find our web address?</h3>
    <div class="clearfix"></div>

    <div class="form-group grapevine">
      <!-- <label>Where did you find our web address?</label><br> -->
      <%= estate.select(:grapevine) do %>
        <!-- < [['Select from list', '' ], ['Advertising', 'Advertising'], ['Social Media', 'Social Media'], ['Family/Friend', 'Family/Friend'], ['Google', 'Google'], ['Event', 'Event'], ['Other', 'Other']].each do |c| -%> -->
         <% [['Select from list', ''], ['Business Journal', 'Business Journal'], ['Newspaper', 'Newspaper'], ['Magazine', 'Magazine'], ['Online', 'Online'], ['Social Media', 'Social Media'], ['Other', 'Other']].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group other">
      <label><b>If other</b>, what source?</label><br>
      <%= estate.text_field :source %>
    </div>

    <div class="form-group honey">
      <%= label_tag :honey %>
      <%= estate.text_field :honey %>
      <span class="help">Do not fill in this field. It is an anti-spam measure.</span>
    </div>


    <div class="form-group submit">
      <%= estate.submit "Submit", :class=> "send-message" %>
    </div>
  </fieldset>
<% end %>
