<% @page_title = "Woof Gang Bakery Blog" %>
<% @page_description = "" %>

<div class="ipage-header">
	<div class="inside med2">
		<h1>Woof Gang Bakery Blog</h1>
		<% if user_signed_in? && current_user.admin? %>
			<%= link_to 'Create New Post', new_post_path, class: 'woof-link' %>
			<% end %>
	</div>
</div>

<div class="full-sec blog-posts">
	<div class="inside medi">
		<% @posts.each do |post| %>
			<!-- <style type="text/css">
				.post-gi {
					background-image: url(<%= rails_blob_url(post.image) %>);
				}
			</style>

			<= link_to post_path(post), class: 'post-gi' do %>
		    <h3 class="title"><%= post.title %></h3>
			< end %> -->
			<div class="post-li">
				<div class="feat-img">
					<% if post.image.attached? %>
					  <%= image_tag post.image %>
					<% end %>
				</div>

				<div class="feat-content">
					<%= link_to post.title, post_path(post) %>
				</div>
			</div>
		<% end %>

	</div>
</div>
