<%= render 'shared/errors', obj: @location %>
<div class="loc-form">
  <%= form_for(@location, :html => {class: "form-horizontal", role: "form" }) do |f| %>
    <div class="form-group">

      <h3>Contact<br>
        <span><a href="#modal-sanc" uk-toggle>Click here for street address naming conventions</a></span>
      </h3>
      <div class="forminfo name">
        <%= f.label :store_name %><br>
        <%= f.text_field :store_name, class: "form-control", placeholder: "Woof Gang Bakery & Grooming Store", autofocus: true %>
      </div>

      <div class="forminfo email">
        <%= f.label :email_address %><br>
        <%= f.text_field :email_address, class: "form-control", placeholder: "Email Address", autofocus: true %>
      </div>

      <div class="forminfo phone">
        <%= f.label :phone %><br>
        <%= f.text_field :phone, class: "form-control", placeholder: "Phone", autofocus: true %>
      </div>

      <div class="forminfo street">
        <%= f.label :street_address %><br>
        <%= f.text_field :street_address_one, class: "form-control", placeholder: "Enter Address", autofocus: true %>
      </div>

      <div class="forminfo street2">
        <%= f.label :street_address_2 %><br>
        <%= f.text_field :street_address_two, class: "form-control", placeholder: "Additional Address", autofocus: true %>
      </div>
      <div class="clearfix"></div>

      <div class="forminfo city">
        <%= f.label :city %><br>
        <%= f.text_field :city, class: "form-control", placeholder: "City", autofocus: true %>
      </div>

      <div class="forminfo state">
        <%= f.label :state %><br>
        <%= f.collection_select(:state_id, State.all, :id, :name) %>
      </div>

      <div class="forminfo zip">
        <%= f.label :zip %><br>
        <%= f.text_field :zip, class: "form-control", placeholder: "Zipcode", autofocus: true %>
      </div>

      <div class="forminfo coming">
        <label>Coming soon?</label>
        <%= f.select(:coming_soon) do %>
          <% [['No', 'false'], ['Yes', 'true']].each do |c| -%>
            <%= content_tag(:option, c.first, value: c.last) %>
          <% end %>
        <% end %>
      </div>


      <div class="clearfix"></div>
      <h3>Social<br>
        <span>Social media url bases are already entered. Just add <b>/your-link</b> in each box.<br><b>Enter FULL website url.</b></span>
      </h3>
      <div class="forminfo link fb">
        <%= f.label :facebook %><br>
        <%= f.text_field :fb, class: "form-control", placeholder: "https://www.facebook.com", autofocus: true %>
      </div>

      <div class="forminfo link insta">
        <%= f.label :instagram %><br>
        <%= f.text_field :insta, class: "form-control", placeholder: "https://www.instagram.com", autofocus: true %>
      </div>

      <div class="forminfo link twitter">
        <%= f.label :twitter %><br>
        <%= f.text_field :twitter, class: "form-control", placeholder: "https://twitter.com", autofocus: true %>
      </div>

      <div class="forminfo link yelp">
        <%= f.label :yelp %><br>
        <%= f.text_field :yelp, class: "form-control", placeholder: "https://www.yelp.com/biz", autofocus: true %>
      </div>

      <div class="forminfo link site">
        <%= f.label :website %><br>
        <%= f.text_field :site, class: "form-control", placeholder: "https://yoursite.com", autofocus: true %>
      </div>



      <div class="clearfix"></div>
      <h3>Additional</h3>

      <div class="forminfo hours">
        <label>Store Hours <span>(same as docs)</span></label><br>
        <%= f.text_area :hours, class: "form-control", placeholder: "Mon-Fri 9:30am-8pm, Sat 9:30am-6pm, Sun 10am-5", autofocus: true %>
      </div>

      <div class="forminfo tags">
        <label>Tags <span>(ctrl + click all that apply)</span><br>
        <%= f.collection_select(:tag_ids, Tag.find(9,1,2,3,0), :id, :name,  {include_blank: '[ none ]'}, {:multiple => true}) %>
        <!-- <= f.collection_select(:tag_ids, Tag.all, :id, :name,  {include_blank: '[ none ]'}, {:multiple => true}) %> -->
      </div>

      <div class="forminfo lat">
        <label>Latitude <span>(leave blank)</span></label><br>
        <%= f.text_field :latitude, class: "form-control", placeholder: "Latitude", autofocus: true %>
      </div>

      <div class="forminfo long">
        <label>Longitude <span>(leave blank)</span></label><br>
        <%= f.text_field :longitude, class: "form-control", placeholder: "Longitude", autofocus: true %>
      </div>
    </div>

    <div class="clearfix"></div>
    <hr>

    <div class="forminfo image">
      <%= f.label :image %>
      <%= f.file_field :image %>

      <% unless @location.new_record? %>
        <% if @location.image.attached? %>
          <p class="tsmall">Current Image:</p>
          <div class="thumb"><%= image_tag @location.image %></div>
        <% end %>
      <% end %>
    </div>
    <div class="clearfix"><hr>


    <div class="form-group btns">
      <%= f.submit(@location.new_record? ? "Add Location" : "Update Location", class: "btn woof-link save") %>
    </div>
  <% end %>
</div>

<div id="modal-sanc" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <p>Avenue<br>
      Blvd<br>
      Circle<br>
      Drive <br>
      Hwy<br>
      Ln<br>
      Pkwy<br>
      Road<br>
      Street<br>
      Trail</p>
  </div>
</div>
