<%= render 'shared/errors', obj: @location %>
<div class="loc-form">
  <%= form_for(@location, :html => {class: "form-horizontal", role: "form" }) do |f| %>
    <div class="form-group">
      <div class="forminfo">
        <%= f.label :store_name %><br>
        <%= f.text_field :store_name, class: "form-control", placeholder: "Woof Gang Bakery & Grooming", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :email_address %><br>
        <%= f.text_field :email_address, class: "form-control", placeholder: "Email Address", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :phone %><br>
        <%= f.text_field :phone, class: "form-control", placeholder: "Phone", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :street_address %><br>
        <%= f.text_field :street_address_one, class: "form-control", placeholder: "Enter Address", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :street_address_2 %><br>
        <%= f.text_field :street_address_two, class: "form-control", placeholder: "Additional Address", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :city %><br>
        <%= f.text_field :city, class: "form-control", placeholder: "City", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :state %><br>
        <%= f.text_field :state, class: "form-control", placeholder: "State", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :zip %><br>
        <%= f.text_field :zip, class: "form-control", placeholder: "Zipcode", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :hours %><br>
        <%= f.text_area :hours, class: "form-control", placeholder: "Store Hours", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :latitude %><br>
        <%= f.text_field :latitude, class: "form-control", placeholder: "Latitude", autofocus: true %>
      </div>

      <div class="forminfo">
        <%= f.label :longitude %><br>
        <%= f.text_field :longitude, class: "form-control", placeholder: "Longitude", autofocus: true %>
      </div>
    </div>

    <div class="form-group btns">
      <%= f.submit(@location.new_record? ? "Add Location" : "Update Location", class: "btn woof-link") %>
    </div>
  <% end %>
</div>
