<% @page_title = "Pet Grooming Locations" %>
<% @page_description = "Woof Gang Bakery has over 130 locations in the U.S. Use our map to find a location near you." %>

<div class="ipage-header">
	<div class="inside narrow">
		<h1>Our Locations</h1>
		<h2>Use the map below to find a location near you.</h2>
	</div>

	<% if user_signed_in? && current_user.admin? %>
  	<div class="boundary-align uk-panel">
	    <button class="admin-uk wl-uk uk-float-right" type="button"><span  uk-icon="icon: settings;"></span></button>
	    <div uk-dropdown="mode: click; pos: bottom-right; boundary: .wl-uk;">
      	<div class="admin-btns">
      		<div class="manu">
      			<%= link_to 'Add a Location', new_location_path, class: 'woof-link' %>
      			<%= link_to "Download CSV", locations_path(format: "csv"), class: 'woof-link dl' %>
						<%= link_to "Add a State", new_state_path, class: 'woof-link' %>
      		</div>

    			<div class="import">
    				<p class="bmargin0">Import Locations</p>
    				<hr>
    				<%= form_tag import_locations_path, multipart: true do %>
    				  <%= file_field_tag :file %>
    				  <hr>
    				  <%= submit_tag "Import" %>
    				<% end %>
    			</div>
      	</div>
    	</div>
    </div>
	<% end %>
</div>

<div class="full-search">
	<div class="inside lg">
		
		<div class="boundary-align uk-panel filter-box states">
	    <div class="filter-uk">Search by State <span  uk-icon="icon: chevron-down;"></span></div>
	    <div uk-dropdown="mode: click; pos: bottom-right; boundary: .filter-uk;">
	    	<% @states.each do |state| %>
					<div class="filter-tag <%= state.full_name %>">
						<%= link_to "#{state.full_name}", state_path(state) %>
					</div>
				<% end %>
    	</div>
    </div>

		<!-- Rocket Google -->
		<div id='storerocket-widget' style='width:100%;' data-storerocket-env='p' data-storerocket-id='7OdJEZD8WE'><p style='text-align:center;font-size:13px;padding:10px;'>Store locator is loading from StoreRocket <a target='_blank' href='https://storerocket.io' style='font-size:13px;'>Store Locator Software</a>..</p></div><script>(function(){var a=document.createElement('script');a.type='text/javascript';a.async=!0;a.src='https://cdn.storerocket.io/js/widget.js';var b=document.getElementsByTagName('script')[0];b.parentNode.insertBefore(a,b);}());</script>
	</div>
</div>
