<% @page_title = "Our Locations" %>
<% @page_description = "New Description" %>


<div class="pup-header inline">
	<div class="inside narrow">
		<div class="full">
			<div class="tbox">
				<h1><%= @page_title %></h1>
				<h2>Use the map below to find a location near you!</h2>
			</div>
		</div>
	</div>

	<% if user_signed_in? && current_user.admin? %>
  	<div class="boundary-align uk-panel">
	    <button class="woof-link wl-uk uk-float-right" type="button">Admin Options</button>
	    <div uk-dropdown="mode: click; pos: bottom-right; boundary: .wl-uk;">
      	<div class="admin-btns">
      		<div class="manu">
      			<%= link_to 'Add a Location', new_location_path, class: 'woof-link' %>
      			<%= link_to "Download CSV", locations_path(format: "csv"), class: 'woof-link dl' %>
      		</div>

    			<div class="import">
    				<p class="bmargin0">Import Locations</p>
    				<hr>
    				<%= form_tag import_locations_path, multipart: true do %>
    				  <%= file_field_tag :file %>
    				  <hr>
    				  <%= submit_tag "Import" %>
    				<% end %>
    			</div>
      	</div>
    	</div>
    </div>
	<% end %>
</div>


<div class="full-search">
	<div class="inside lg">
		<div class="full listings">
			<div class="search-sec">
				<div class="searcher">
					<%= form_with(url: locations_path, class: "form-inline", local: true, method: :get) do |f| %>
					  <%= f.text_field :near, class: "form-control", placeholder: "Search by Location" %>
					  <%= f.submit "", class: "btn btn-outline-secondary search" %>
					<% end %>
				</div>

		  	<div class="boundary-align uk-panel filter-box">
			    <div class="filter-uk">Search by Service <span  uk-icon="icon: chevron-down;"></span></div>
			    <div uk-dropdown="mode: click; pos: bottom-right; boundary: .filter-uk;">
			    	<% @tags.each do |tag| %>
							<div class="filter-tag"><%= link_to "#{tag.display_name}", tag_path(tag.name) %></div>
						<% end %>
		    	</div>
		    </div>
			</div>

			<div class="map">
				<!-- = render 'shared/map' %> -->
				<%= link_to "Click here to redo search in this area", "#", id: "redo-search" %>
			</div>

			<div class="loclist">
				<table>
					<% @locations.each do |location| %>
						<div class="location-bx">
							<% if location.store_name %>
								<%= link_to location_path(location) do %>
									<div class="cat name"><%= location.store_name.titleize %></div>
								<% end %>
							<% else %>
								<%= link_to location_path(location) do %>
									<div class="cat name">Woof Gang Bakery & Grooming <%= location.city.titleize %></div>
									<% end %>
							<% end %>

							<div class="cat address">
								<%= location.street_address_one.titleize %><br>
								<% if location.street_address_two %>
									<span class="addr2"><%= location.street_address_two.titleize %></span>
								<% end %>
								<%= location.city %>, <%= location.state %> <%= location.zip %>
							</div>

							<div class="cat phone"><a href="tel:<%= location.phone %>"><%= number_to_phone(location.phone, delimiter: '-') %></a></div>
							<!-- <div class="cat phone"><%= number_to_phone(location.phone, delimiter: '-') %></div> -->

							<div class="cat email"><%= location.email_address %></div>

							<div class="cat tags">
								<small>Tags: <%= raw location.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></small>
							</div>

							<% if location.hours %>
								<!-- <div class="cat hours">
									<%= location.hours %>
								</div> -->
							<% end %>

							<div class="btn-row">
								<%= link_to "Store Details", location_path(location), class: 'woof-link' %>
							</div>


			    		<% if user_signed_in? && current_user.admin? %>
								<!-- <div class="actions"><small><%= link_to("Edit Location (#{location.id})", edit_location_path(location)) %></small></div> -->
								<% if location.longitude == nil %><div class="actions">**<small>Coordinates Missing**</small></div><% end %>
							<% end %>
						</div>
					<% end %>
				</table>

				<%= will_paginate @locations, remote: true %>
			</div>


		</div>

	</div>
</div>


