<% @page_title = "Our Locations" %>
<% @page_description = "New Description" %>

<div class="full-sec">
	<div class="inside">
		<h1><%= @page_title %></h1>
		<%= link_to 'Add a Location', new_location_path, class: 'woof-link' %>

		<div class="full listings">
			<div class="loclist">
				<div class="search-sec">
					<div class="searcher">
						<%= form_with(url: locations_path, class: "form-inline", local: true, method: :get) do |f| %>
						  <%= f.text_field :near, class: "form-control", placeholder: "Search" %>
						  <%= f.submit "", class: "btn btn-outline-secondary search" %>
						<% end %>
					</div>
				</div>

				<table>
				<% @locations.each do |location| %>
					<div class="location-bx">
						<h4>
							<!-- = simple_format(location.full_address)%> -->
							<%= location.street.titleize %><br>
							<% if location.suite != '' %><%= location.suite.titleize %><br><% end %>
							<%= location.city %>, <%= location.state %> <%= location.zip %>
							<br>
							<% if location.phone %>
								<%= number_to_phone(location.phone, delimiter: '.', area_code: true) %>
							<% end %>
						</h4>
						<div class="actions"><small><%= link_to("Edit Location (#{location.id})", edit_location_path(location)) %></small></div>
					</div>
				<% end %>
				</table>
			</div>

			<div class="map">
				<%= render 'shared/map' %>
			</div>
		</div>

	</div>
</div>
