<% @page_title = "Our Locations" %>
<% @page_description = "New Description" %>

<div class="ipage-header opink">
	<div class="inside">
		<div class="pagetitle">
			<h1><%= @page_title %></h1>
		</div>

		<div class="admin-btns">
			<%= link_to 'Add a Location', new_location_path, class: 'woof-link' %>
			<%= link_to "Download CSV", locations_path(format: "csv"), class: 'woof-link dl' %>
			<div class="full-sec">
				<p class="bmargin0">Import Locations</p>
				<%= form_tag import_locations_path, multipart: true do %>
				  <%= file_field_tag :file %>
				  <br>
				  <%= submit_tag "Import" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="full-sec">
	<div class="inside">
		<div class="full listings">
			<div class="search-sec">
				<div class="searcher">
					<%= form_with(url: locations_path, class: "form-inline", local: true, method: :get) do |f| %>
					  <%= f.text_field :near, class: "form-control", placeholder: "Search" %>
					  <%= f.submit "", class: "btn btn-outline-secondary search" %>
					<% end %>
				</div>
			</div>

			<div class="map">
				<%= render 'shared/map' %>
			</div>

			<div class="loclist">

				<table>
				<% @locations.each do |location| %>
					<div class="location-bx">
							<!-- = simple_format(location.full_address)%> -->
							<% if location.store_name %>
								<div class="cat name">
								<%= location.store_name.titleize %></div>
							<% else %>
								<div class="cat name">Woof Gang Bakery & Grooming <%= location.city.titleize %></div>
							<% end %>

							<div class="cat address">
								<%= location.street_address_one.titleize %><br>
								<% if location.street_address_two %>
									<span class="addr2"><%= location.street_address_two.titleize %></span>
								<% end %>
								<%= location.city %>, <%= location.state %> <%= location.zip %>
							</div>

							<div class="cat phone"><%= number_to_phone(location.phone, delimiter: '-') %></div>

							<div class="cat email"><%= location.email_address %></div>

							<% if location.hours %>
								<div class="cat hours">
									<%= location.hours %>
								</div>
							<% end %>

							<p><small>Tags: <%= raw location.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></small></p>

						<div class="actions"><small><%= link_to("Edit Location (#{location.id})", edit_location_path(location)) %></small></div>
						<% if location.longitude == nil %>**<small>Coordinates Missing**</small><% end %>
					</div>
				<% end %>
				</table>
			<%= will_paginate @locations, remote: true %>
			</div>


		</div>

	</div>
</div>
