<div class="above">
  <div class="full">
    <div class="contact">
    </div>

    <ul class="social">
      <%= render 'shared/social' %>
    </ul>

    <div class="mobile-nav">
      <button class="uk-button uk-button-default" type="button" uk-toggle="target: #offcanvas-nav">
        <span class="mmenu" uk-icon="menu"></span>
      </button>
      <%= render 'layouts/mobile-nav' %>
    </div>
  </div>
</div>

<!--<= controller_name %> <= action_name %>< if controller_name == "candidates" or controller_name == "franchise_pages" && action_name != "franchising" %> altv< end %> -->
<header class="inline-header headerStack">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="navbar-center">
      <div class="full navstick"  uk-sticky="sel-target: .inline-header; cls-active: uk-navbar-sticky">
        <div class="inside navWrap">
          <div class="nb-logo ilLogo"><%= link_to(image_tag('wgbgLogo.png', class: 'navbar-item logo', alt: 'Woof Gang Bakery company logo'), root_path )%></div>

          <ul class="uk-navbar-nav ilNav">
            <li><%= link_to "Home", root_path %></li>

            <li><a href="/locations" data-turbolinks="false">Locations</a></li>
            <li>
              <a href="#">Services</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li><%= link_to "Retail", retail_path %></li>
                  <li><%= link_to "Grooming", grooming_path %></li>
                </ul>
              </div>
            </li>

            <li><%= link_to "Blog", blog_path %></li>

            <li><%= link_to "Contact", contact_path %></li>
            <li class="navBtn"><%= link_to "Franchising", franchising_path, target: "_blank" %></li>
          </ul>


          <ul class="social ilSocial">
            <%= render 'shared/social' %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>