<div class="above">
  <div class="full">
    <div class="contact">
    </div>

    <ul class="social">
      <%= render 'shared/social' %>
    </ul>

    <div class="mobile-nav">
      <button class="uk-button uk-button-default" type="button" uk-toggle="target: #offcanvas-nav">
        <span class="mmenu" uk-icon="menu"></span>
      </button>
      <%= render 'layouts/mobile-nav' %>
    </div>
  </div>
</div>

<header class="inline-header centered">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="navbar-center">
      <div class="nb-logo">
        <%= link_to(image_tag('wglogo.png', class: 'navbar-item logo', alt: 'Woof Gang Bakery company logo'), root_path )%>
      </div>

      <div class="full navstick"  uk-sticky="sel-target: .inline-header; cls-active: uk-navbar-sticky">
        <div class="inside">
          <ul class="uk-navbar-nav">
            <li><%= link_to "Home", root_path %></li>

            <li>
              <%= link_to "Franchising", franchising_path %>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li><%= link_to "Franchising", franchising_path %></li>
                  <li><%= link_to "Training & Support", training_support_path %></li>
                  <li><%= link_to "Approval Process", approval_process_path %></li>
                  <li><%= link_to "Real Estate", real_estate_path %></li>
                  <li><%= link_to "Franchise FAQs", faq_path %></li>
                  <li><%= link_to "Franchise Inquiries", franchise_inquiries_path %></li>
                </ul>
              </div>
            </li>

            <!-- <li><= link_to "Locations", locations_path, data-turbolinks="false" %></li> -->
            <li><a href="/locations" data-turbolinks="false">Locations</a></li>
            <li>
              <a href="#">Services</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li><%= link_to "Retail", retail_path %></li>
                  <li><%= link_to "Grooming", grooming_path %></li>
                  <li><%= link_to "Self-Service Grooming", self_service_grooming_path %></li>
                  <li><%= link_to "Day Care & Pet Resort", doggie_daycare_path %></li>
                  <li><%= link_to "Wellness Clinic", vet_clinic_path %></li>
                </ul>
              </div>
            </li>

            <li><%= link_to "Blog", blog_path %></li>

            <li><%= link_to "Contact Us", contact_path %></li>
          </ul>
        </div>
      </div>

    </div>
  </nav>
</header>
