<div id="offcanvas-nav" uk-offcanvas="overlay: true; flip: true">
  <div class="uk-offcanvas-bar mobile">
    <button class="uk-offcanvas-close uk-dark" type="button" uk-close></button>
    <ul class="uk-nav nav-default">
      <li><%= link_to "Home", root_path %></li>
      <!-- <li><a id="locateLink">Locations</a></li> -->
      <!-- <li><a href="/locations" data-turbolinks="false">Locations</a></li> -->
      <li><%= link_to "Locations", locations_path %></li>
      <li><%= link_to "Blog", blog_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>

      <li class="uk-nav-header">Franchising</li>
      <li><%= link_to "Franchising", franchising_path %></li>
      <li><%= link_to "Training & Support", training_support_path %></li>
      <li><%= link_to "Approval Process", approval_process_path %></li>
      <li><%= link_to "Real Estate", real_estate_path %></li>
      <li><%= link_to "Franchise FAQs", faq_path %></li>
      <li><%= link_to "Franchise Inquiries", franchise_inquiries_path %></li>

      <li class="uk-nav-header">Services</li>
      <li><%= link_to "Retail", retail_path %></li>
      <li><%= link_to "Grooming", grooming_path %></li>
      <li><%= link_to "Self-Service Grooming", self_service_grooming_path %></li>
      <li><%= link_to "Day Care & Pet Resort", doggie_daycare_path %></li>
      <li><%= link_to "Wellness Clinic", vet_clinic_path %></li>
    </ul>
  </div>
</div>

