<li><%= link_to "Home", root_path %></li>
<li><%= link_to "About Us", root_path %></li>
<li><%= link_to "Franchise Opportunities", root_path %></li>
<li><%= link_to "Services", root_path %></li>
<li><%= link_to "Locations", root_path %></li>
<li><%= link_to "Blog", root_path %></li>
<li><%= link_to "Press", root_path %></li>
