<meta name="description" content= "<%= @page_description %>">
<title><%= @page_title  %> | Woof Gang Bakery & Grooming</title>
<%= Gon::Base.render_data %>

<%= csrf_meta_tags %>
<%= action_cable_meta_tag %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag "//maps.google.com/maps/api/js?key=" + Rails.application.credentials.google[:gmaps_key] + "&callback=initMap" %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!-- <= javascript_include_tag "//maps.google.com/maps/api/js?key=" + Rails.application.credentials.google[:gmaps_key], 'application', 'data-turbolinks-track': 'reload' %> -->
