<meta name="description" content= "<%= @page_description %>">
<%- if  current_page?(root_path) %>
	<title><%= @page_title.upcase %></title>
	<% else %>
	<title><%= @page_title  %> | Woof Gang Bakery</title>
<% end %>

<%= Gon::Base.render_data %>

<%= csrf_meta_tags %>
<%= action_cable_meta_tag %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<% unless current_page?('/self-service-locations') or current_page?('/locations') %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=" + Rails.application.credentials.google[:gmaps_key], 'data-turbolinks-track': 'reload'  %> 

<% else %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=" + Rails.application.credentials.google[:gmaps_key] + "&libraries=places", :defer => "defer" %>
<% end %>

